In [1]:
from azureml.core import Workspace, Dataset

subscription_id = 'bcfe0c62-8ebe-4df0-a46d-1efcf8739a5b'
resource_group = 'VChamp-Team3'
workspace_name = 'vchamp-team3'


# storage account : Algorithmia, Resource group: VChamp-Team3 and workspace: vchamp-team3.

workspace = Workspace(subscription_id, resource_group, workspace_name)

In [2]:
#['data_team3_synthetic_quality_check']
datastore = workspace.datastores['data_team3_synthetic_test']

In [3]:
dataset = Dataset.Tabular.from_delimited_files(path = [(datastore, 'medications_ordered_test.csv')])

# preview the first 3 rows of the dataset
# dataset.to_pandas_dataframe()

In [4]:
medications_ordered = dataset.to_pandas_dataframe()

In [5]:
medications_ordered

,Column1,Internalpatientid,Age at med ordered,Order date,Medication start date,Medication stop date,Order discontinue date,Ordered medication atc 5,Order status,Stop reason,State
0,31,100,54.451524,2016-03-11 00:45:56,2016-03-11 10:57:56,2016-12-25 00:40:56,2016-12-25 00:40:56,hydrogen peroxide,discontinued,Requesting Physician Cancelled,New York
1,32,100,54.741514,2016-06-25 00:33:25,2016-06-24 09:39:25,2016-07-09 01:15:25,2016-07-09 01:15:25,guaifenesin,discontinued,Obsolete Order,New York
2,33,100,54.827014,2016-07-26 06:33:56,NaT,2016-12-26 05:34:56,2016-12-26 05:34:56,dextromethorphan ; guaifenesin,discontinued,Requesting Physician Cancelled,New York
3,34,100,55.089929,2016-10-30 08:51:18,2016-10-30 08:54:18,2016-10-31 09:36:18,2016-10-31 09:36:18,riluzole,discontinued,Requesting Physician Cancelled,New York
4,35,100,55.090329,2016-10-30 12:22:12,2016-10-30 12:22:12,2016-10-30 21:39:12,NaT,potassium chloride,expired,Not specified (no value),New York
...,...,...,...,...,...,...,...,...,...,...,...
15661656,75157466,99997,86.207646,2015-05-07 21:28:30,NaT,2020-08-07 00:36:30,NaT,folic acid,discontinued,Not specified (no value),North Carolina
15661657,75157467,99997,86.690662,2015-10-31 10:29:07,2015-11-02 23:02:07,2016-10-30 23:02:07,NaT,hydroxyzine,expired,Not specified (no value),North Carolina
15661658,75157468,99997,87.469851,2016-08-11 05:32:09,2016-08-11 17:26:09,2017-08-11 17:26:09,NaT,budesonide ; formoterol,expired,Not specified (no value),North Carolina
15661659,75157469,99997,89.148625,2018-04-16 19:44:03,2018-04-16 10:28:03,2019-04-15 10:28:03,2019-04-15 19:50:03,memantine,discontinued,Not specified (no value),North Carolina
15661660,75157470,99997,89.688760,2018-10-31 05:47:55,2018-11-02 14:11:55,2019-10-31 14:11:55,NaT,furosemide,expired,Not specified (no value),North Carolina

In [6]:
# finding the unique values for each column
medications_ordered.nunique()

Column1                     15661661
Internalpatientid              34575
Age at med ordered          15623357
Order date                   9431532
Medication start date       10050838
Medication stop date        11003291
Order discontinue date       8315062
Ordered medication atc 5        3512
Order status                      12
Stop reason                      479
State                             51
dtype: int64

In [7]:
medications_ordered['Internalpatientid'].value_counts()

Internalpatientid
105587    11762
70623      9372
20645      9119
122832     8799
61845      7720
          ...
116647        1
1291          1
141066        1
160319        1
98164         1
Name: count, Length: 34575, dtype: int64

In [8]:
medications_ordered.drop(['Column1','Order date','Medication start date','Medication stop date','Order discontinue date'], axis = 1,inplace =True)
medications_ordered

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status,Stop reason,State
0,100,54.451524,hydrogen peroxide,discontinued,Requesting Physician Cancelled,New York
1,100,54.741514,guaifenesin,discontinued,Obsolete Order,New York
2,100,54.827014,dextromethorphan ; guaifenesin,discontinued,Requesting Physician Cancelled,New York
3,100,55.089929,riluzole,discontinued,Requesting Physician Cancelled,New York
4,100,55.090329,potassium chloride,expired,Not specified (no value),New York
...,...,...,...,...,...,...
15661656,99997,86.207646,folic acid,discontinued,Not specified (no value),North Carolina
15661657,99997,86.690662,hydroxyzine,expired,Not specified (no value),North Carolina
15661658,99997,87.469851,budesonide ; formoterol,expired,Not specified (no value),North Carolina
15661659,99997,89.148625,memantine,discontinued,Not specified (no value),North Carolina
15661660,99997,89.688760,furosemide,expired,Not specified (no value),North Carolina

In [9]:
medications_ordered.drop(['Stop reason','State'], axis = 1,inplace =True)

medications_ordered

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status
0,100,54.451524,hydrogen peroxide,discontinued
1,100,54.741514,guaifenesin,discontinued
2,100,54.827014,dextromethorphan ; guaifenesin,discontinued
3,100,55.089929,riluzole,discontinued
4,100,55.090329,potassium chloride,expired
...,...,...,...,...
15661656,99997,86.207646,folic acid,discontinued
15661657,99997,86.690662,hydroxyzine,expired
15661658,99997,87.469851,budesonide ; formoterol,expired
15661659,99997,89.148625,memantine,discontinued
15661660,99997,89.688760,furosemide,expired

In [10]:
sorted_df = medications_ordered.sort_values(by=['Internalpatientid','Age at med ordered'])
sorted_df

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status
14385067,6,74.765807,glyceryl trinitrate,expired
14385068,6,74.765807,glyceryl trinitrate,discontinued
9723487,6,74.767393,warfarin,discontinued
9723488,6,74.767393,captopril,discontinued
9712529,6,74.767395,simvastatin,discontinued
...,...,...,...,...
6053941,169065,53.316715,ipratropium bromide,discontinued
12165134,169065,53.317309,hydromorphone,discontinued
12165135,169065,53.319918,hydromorphone,discontinued
12165136,169065,53.319918,lorazepam,discontinued
6052888,169065,53.319923,morphine,discontinued

In [11]:
sorted_df.isnull().sum()

Internalpatientid           0
Age at med ordered          0
Ordered medication atc 5    0
Order status                0
dtype: int64

In [12]:
# Format 'Age at measurement' values in the format 00.00
sorted_df["Age at med ordered"] = sorted_df["Age at med ordered"].map("{:.3f}".format)
sorted_df

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status
14385067,6,74.766,glyceryl trinitrate,expired
14385068,6,74.766,glyceryl trinitrate,discontinued
9723487,6,74.767,warfarin,discontinued
9723488,6,74.767,captopril,discontinued
9712529,6,74.767,simvastatin,discontinued
...,...,...,...,...
6053941,169065,53.317,ipratropium bromide,discontinued
12165134,169065,53.317,hydromorphone,discontinued
12165135,169065,53.320,hydromorphone,discontinued
12165136,169065,53.320,lorazepam,discontinued
6052888,169065,53.320,morphine,discontinued

In [13]:
import pandas as pd

In [14]:
# Find the maximum age for each internal patient id
max_ages = sorted_df.groupby('Internalpatientid')['Age at med ordered'].max().reset_index()

# Merge with the original dataframe to get the rows with the highest age

result_df = pd.merge(sorted_df, max_ages, on =['Internalpatientid','Age at med ordered'], how = 'inner')

result_df

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status
0,6,87.815,warfarin,expired
1,6,87.815,cetirizine,expired
2,7,74.256,sodium fluoride,active
3,7,74.256,chlorhexidine,expired
4,9,51.879,propofol,discontinued
...,...,...,...,...
115564,169058,79.025,codeine ; paracetamol (acetaminophen),expired
115565,169059,90.754,ibuprofen,discontinued
115566,169065,53.320,hydromorphone,discontinued
115567,169065,53.320,lorazepam,discontinued
115568,169065,53.320,morphine,discontinued

In [15]:
# Convert 'Age at measurement' column from object to float
result_df["Age at med ordered"] = result_df["Age at med ordered"].astype(float)

 

# Round off the values in the 'Age at measurement' column to two decimal places
result_df["Age at med ordered"] = result_df["Age at med ordered"].round()

In [16]:
result_df['Age at med ordered'] = result_df['Age at med ordered'].astype('int')

In [17]:
# Now the value counts
df = result_df['Internalpatientid'].value_counts().loc[lambda x: x > 25]
df

Internalpatientid
112039    78
130196    68
123101    62
151485    51
153485    50
          ..
110145    26
92837     26
7765      26
37101     26
95895     26
Name: count, Length: 144, dtype: int64

In [18]:
df = df.reset_index()

In [19]:
df.columns = ["Internalpatientid","count_conditions"]

In [20]:
df.drop('count_conditions', axis = 1, inplace = True)

In [21]:
# Merge the two dataframes based on 'Internalpatientid'
merged_df = result_df.merge(df, on='Internalpatientid', how='left')

 

 

# Filter rows from DataFrame 1 that have matching values in DataFrame 2
filtered_df = merged_df[~merged_df['Internalpatientid'].isin(df['Internalpatientid'])]

 

 

# Print only the columns of DataFrame 1
filtered_df

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status
0,6,88,warfarin,expired
1,6,88,cetirizine,expired
2,7,74,sodium fluoride,active
3,7,74,chlorhexidine,expired
4,9,52,propofol,discontinued
...,...,...,...,...
115564,169058,79,codeine ; paracetamol (acetaminophen),expired
115565,169059,91,ibuprofen,discontinued
115566,169065,53,hydromorphone,discontinued
115567,169065,53,lorazepam,discontinued
115568,169065,53,morphine,discontinued

In [22]:
filtered_df['Internalpatientid'].value_counts()

Internalpatientid
41833     25
16442     25
62394     25
102228    25
20552     25
          ..
109534     1
49048      1
49036      1
49034      1
85061      1
Name: count, Length: 34431, dtype: int64

In [23]:
filtered_df['medication_ordered_medication_atc5'] = filtered_df['Age at med ordered'].astype(str) + '_' + filtered_df['Ordered medication atc 5']
filtered_df

/tmp/ipykernel_24844/545162775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['medication_ordered_medication_atc5'] = filtered_df['Age at med ordered'].astype(str) + '_' + filtered_df['Ordered medication atc 5']

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status,medication_ordered_medication_atc5
0,6,88,warfarin,expired,88_warfarin
1,6,88,cetirizine,expired,88_cetirizine
2,7,74,sodium fluoride,active,74_sodium fluoride
3,7,74,chlorhexidine,expired,74_chlorhexidine
4,9,52,propofol,discontinued,52_propofol
...,...,...,...,...,...
115564,169058,79,codeine ; paracetamol (acetaminophen),expired,79_codeine ; paracetamol (acetaminophen)
115565,169059,91,ibuprofen,discontinued,91_ibuprofen
115566,169065,53,hydromorphone,discontinued,53_hydromorphone
115567,169065,53,lorazepam,discontinued,53_lorazepam
115568,169065,53,morphine,discontinued,53_morphine

In [24]:
filtered_df['medication_ordered_status'] = filtered_df['Age at med ordered'].astype(str) + '_' + filtered_df['Order status']
filtered_df

/tmp/ipykernel_24844/2590857632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['medication_ordered_status'] = filtered_df['Age at med ordered'].astype(str) + '_' + filtered_df['Order status']

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status,medication_ordered_medication_atc5,medication_ordered_status
0,6,88,warfarin,expired,88_warfarin,88_expired
1,6,88,cetirizine,expired,88_cetirizine,88_expired
2,7,74,sodium fluoride,active,74_sodium fluoride,74_active
3,7,74,chlorhexidine,expired,74_chlorhexidine,74_expired
4,9,52,propofol,discontinued,52_propofol,52_discontinued
...,...,...,...,...,...,...
115564,169058,79,codeine ; paracetamol (acetaminophen),expired,79_codeine ; paracetamol (acetaminophen),79_expired
115565,169059,91,ibuprofen,discontinued,91_ibuprofen,91_discontinued
115566,169065,53,hydromorphone,discontinued,53_hydromorphone,53_discontinued
115567,169065,53,lorazepam,discontinued,53_lorazepam,53_discontinued
115568,169065,53,morphine,discontinued,53_morphine,53_discontinued

In [25]:
filtered_df.drop(['Age at med ordered','Ordered medication atc 5','Order status'], axis = 1,inplace = True)
filtered_df

/tmp/ipykernel_24844/2778465033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop(['Age at med ordered','Ordered medication atc 5','Order status'], axis = 1,inplace = True)

,Internalpatientid,medication_ordered_medication_atc5,medication_ordered_status
0,6,88_warfarin,88_expired
1,6,88_cetirizine,88_expired
2,7,74_sodium fluoride,74_active
3,7,74_chlorhexidine,74_expired
4,9,52_propofol,52_discontinued
...,...,...,...
115564,169058,79_codeine ; paracetamol (acetaminophen),79_expired
115565,169059,91_ibuprofen,91_discontinued
115566,169065,53_hydromorphone,53_discontinued
115567,169065,53_lorazepam,53_discontinued
115568,169065,53_morphine,53_discontinued

In [26]:
filtered_df['medication_ordered_medication_atc5'] = filtered_df['medication_ordered_medication_atc5'].astype(str)
filtered_df['medication_ordered_status'] = filtered_df['medication_ordered_status'].astype(str)

/tmp/ipykernel_24844/656839175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['medication_ordered_medication_atc5'] = filtered_df['medication_ordered_medication_atc5'].astype(str)
/tmp/ipykernel_24844/656839175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['medication_ordered_status'] = filtered_df['medication_ordered_status'].astype(str)

In [27]:
df_medication_ordered = filtered_df.groupby('Internalpatientid').apply(lambda x: pd.Series({
    'medication_ordered_medication_atc5' : ', '.join(x['medication_ordered_medication_atc5']),
    'medication_ordered_status' : ', '.join(x['medication_ordered_status'])
    

}))

# Reset the index of the dataframe
df_medication_administered = df_medication_ordered.reset_index()

# print the grouped dataframe
print(df_medication_ordered)

                                  medication_ordered_medication_atc5
Internalpatientid
6                                         88_warfarin, 88_cetirizine  \
7                               74_sodium fluoride, 74_chlorhexidine
9                                                        52_propofol
12                                                     74_furosemide
17                                                  82_Not specified
...                                                              ...
169037                                88_Not specified, 88_buspirone
169045             97_finasteride, 97_lisinopril, 97_amiodarone, ...
169058                      79_codeine ; paracetamol (acetaminophen)
169059                                                  91_ibuprofen
169065                   53_hydromorphone, 53_lorazepam, 53_morphine

                                           medication_ordered_status
Internalpatientid
6                                             88_expired, 88_expired
7                                              74_active, 74_expired
9                                                    52_discontinued
12                                                   74_discontinued
17                                                   82_discontinued
...                                                              ...
169037                              88_discontinued, 88_discontinued
169045             97_active, 97_active, 97_active, 97_active, 97...
169058                                                    79_expired
169059                                               91_discontinued
169065             53_discontinued, 53_discontinued, 53_discontinued

[34431 rows x 2 columns]

In [28]:
df_medication_ordered

,medication_ordered_medication_atc5,medication_ordered_status
Internalpatientid,,
6,"88_warfarin, 88_cetirizine","88_expired, 88_expired"
7,"74_sodium fluoride, 74_chlorhexidine","74_active, 74_expired"
9,52_propofol,52_discontinued
12,74_furosemide,74_discontinued
17,82_Not specified,82_discontinued
...,...,...
169037,"88_Not specified, 88_buspirone","88_discontinued, 88_discontinued"
169045,"97_finasteride, 97_lisinopril, 97_amiodarone, ...","97_active, 97_active, 97_active, 97_active, 97..."
169058,79_codeine ; paracetamol (acetaminophen),79_expired
169059,91_ibuprofen,91_discontinued
169065,"53_hydromorphone, 53_lorazepam, 53_morphine","53_discontinued, 53_discontinued, 53_discontinued"

In [29]:
# saving as the csv file in the appropriate directory
df_medication_ordered.to_csv('/mnt/batch/tasks/shared/LS_root/mounts/clusters/team3-nishagpu2/code/Users/900379/Output_files_test/df_medication_ordered_test.csv')