----
# **Measurements Blood Pressure Test**
----

## **Dataset Description:**

- **Internalpatientid:** The unique identifier for each patient in the dataset.
- **Age at measurement bp:** The age of the patient at the time the blood pressure measurement was taken.
- **Measurement date:** The date and time when the blood pressure measurement was taken.
- **Diastolic bp:** The diastolic blood pressure value, which represents the pressure in the arteries when the heart is at rest between beats.
- **Systolic bp:** The systolic blood pressure value, which represents the pressure in the arteries when the heart is actively pumping blood.
- **State:** The state where the measurement was taken or the patient's residence.

### Azure notebook Setup

In [1]:
#A class attribute that provides access to the TabularDatasetFactory methods for creating new TabularDataset objects. 
#Usage: Dataset.Tabular.from_delimited_files().
from azureml.core import Workspace, Dataset

subscription_id = 'bcfe0c62-8ebe-4df0-a46d-1efcf8739a5b' #check the launch studio there will get this id
resource_group = 'VChamp-Team3' # resource group name
workspace_name = 'vchamp-team3' # worksapce name


# storage account : Algorithmia, Resource group: VChamp-Team3 and workspace: vchamp-team3.
#Constructor
workspace = Workspace(subscription_id, resource_group, workspace_name)

In [2]:
#['data_team3_synthetic_train']
datastore = workspace.datastores['data_team3_synthetic_test']

In [3]:
#from_delimited_files (Create a TabularDataset to represent tabular data in delimited files (e.g. CSV and TSV).
dataset = Dataset.Tabular.from_delimited_files(path = [(datastore, 'measurements_blood_pressure_test.csv')])

# preview the first 3 rows of the dataset
# dataset.to_pandas_dataframe()

In [4]:
#Converting the dataset into data frame(default as dataset in Azure, thus we must convert the needed formate)
measurements_blood_pressure_test_data= dataset.to_pandas_dataframe()

In [5]:
type(measurements_blood_pressure_test_data)

pandas.core.frame.DataFrame

In [6]:
measurements_blood_pressure_test_data.head()

,Column1,Internalpatientid,Age at measurement bp,Measurement date,Diastolic bp,Systolic bp,State
0,15,100,55.097387,2016-11-02 02:16:29,73.0,120.0,New York
1,16,100,55.101809,2016-11-03 17:03:54,57.0,86.0,New York
2,17,100,55.103167,2016-11-04 04:58:47,58.0,92.0,New York
3,18,100,55.109996,2016-11-06 16:53:06,67.0,115.0,New York
4,19,100,55.120935,2016-11-10 16:50:38,54.0,94.0,New York

## **Importing Libraries**

In [7]:
# Importing essential libraries
import pandas as pd        # Library for data manipulation and analysis
import numpy as np         # Library for mathematical operations

## **Data Exploration**

In [8]:
# changing variable name for dataframe
df = measurements_blood_pressure_test_data

In [9]:
# Display the first few rows of a DataFrame
df.head()

,Column1,Internalpatientid,Age at measurement bp,Measurement date,Diastolic bp,Systolic bp,State
0,15,100,55.097387,2016-11-02 02:16:29,73.0,120.0,New York
1,16,100,55.101809,2016-11-03 17:03:54,57.0,86.0,New York
2,17,100,55.103167,2016-11-04 04:58:47,58.0,92.0,New York
3,18,100,55.109996,2016-11-06 16:53:06,67.0,115.0,New York
4,19,100,55.120935,2016-11-10 16:50:38,54.0,94.0,New York

In [10]:
# Shape of the dataset
df.shape

num_rows = df.shape[0]  # Number of rows
num_cols = df.shape[1]  # Number of columns

print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 5918668
Number of columns: 7

In [11]:
# Get the number of unique values in the 'Internalpatientid' column
df['Internalpatientid'].nunique()

34563

In [12]:
# Display the concise summary of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5918668 entries, 0 to 5918667
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Column1                int64
 1   Internalpatientid      int64
 2   Age at measurement bp  float64
 3   Measurement date       datetime64[ns]
 4   Diastolic bp           float64
 5   Systolic bp            float64
 6   State                  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 316.1+ MB

- The 'Internalpatientid' column contains integer values, and the columns for 'Age at measurement bp', 'Diastolic bp' and 'Systolic bp' are in float format, while the rest of the features are in object format.

## **Checking Missing Values**

In [13]:
# Count the number of missing values in each column
df.isnull().sum()

Column1                  0
Internalpatientid        0
Age at measurement bp    0
Measurement date         0
Diastolic bp             0
Systolic bp              0
State                    0
dtype: int64

- There is no missing value in this file.

## **Data Preprocessing**

In [14]:
# changing variable name for dataframe
measurement_bp = df

In [15]:
# Drop the specified columns from the DataFrame
measurement_bp.drop(['Column1','Measurement date','State'], axis=1,inplace=True)

In [16]:
measurement_bp.head()

   Internalpatientid  Age at measurement bp  Diastolic bp  Systolic bp
0                100              55.097387          73.0        120.0
1                100              55.101809          57.0         86.0
2                100              55.103167          58.0         92.0
3                100              55.109996          67.0        115.0
4                100              55.120935          54.0         94.0

### Checking Minimum and Maximum for Potential Columns

In [17]:
# Checking maximum and minimum values for Systolic and Diastolic bp columns
max_systolic_bp = measurement_bp['Systolic bp'].max()
min_systolic_bp = measurement_bp['Systolic bp'].min()

max_diastolic_bp = measurement_bp['Diastolic bp'].max()
min_diastolic_bp = measurement_bp['Diastolic bp'].min()

print("Systolic bp:")
print(f"Maximum value: {max_systolic_bp}")
print(f"Minimum value: {min_systolic_bp}")
print("--------------------")
print("Diastolic bp:")
print(f"Maximum value: {max_diastolic_bp}")
print(f"Minimum value: {min_diastolic_bp}")

Systolic bp:
Maximum value: 312.0
Minimum value: 39.0
--------------------
Diastolic bp:
Maximum value: 206.0
Minimum value: 29.0

### Removing Outliers in Systolic and Diastolic bp

In [18]:
# Apply the filters for 'Diastolic bp' and 'Systolic bp'
filtered_data = measurement_bp[(measurement_bp['Diastolic bp'] >= 50) & (measurement_bp['Diastolic bp'] <= 150) & (measurement_bp['Systolic bp'] >= 80) & (measurement_bp['Systolic bp'] <= 200)]

# Reset the index of the filtered data
filtered_data_bp = filtered_data.reset_index(drop=True)

# Display the final filtered dataframe
filtered_data_bp

         Internalpatientid  Age at measurement bp  Diastolic bp  Systolic bp
0                      100              55.097387          73.0        120.0
1                      100              55.101809          57.0         86.0
2                      100              55.103167          58.0         92.0
3                      100              55.109996          67.0        115.0
4                      100              55.120935          54.0         94.0
...                    ...                    ...           ...          ...
5701799              99997              85.644178          74.0        166.0
5701800              99997              86.921117          64.0        168.0
5701801              99997              88.523663          57.0        148.0
5701802              99997              89.677416          55.0        159.0
5701803              99997              91.226896          58.0        123.0

[5701804 rows x 4 columns]

In [19]:
max_systolic_bp = filtered_data_bp['Systolic bp'].max()
min_systolic_bp = filtered_data_bp['Systolic bp'].min()

max_diastolic_bp = filtered_data_bp['Diastolic bp'].max()
min_diastolic_bp = filtered_data_bp['Diastolic bp'].min()

print("Systolic bp:")
print(f"Maximum value: {max_systolic_bp}")
print(f"Minimum value: {min_systolic_bp}")
print("--------------------")
print("Diastolic bp:")
print(f"Maximum value: {max_diastolic_bp}")
print(f"Minimum value: {min_diastolic_bp}")

Systolic bp:
Maximum value: 200.0
Minimum value: 80.0
--------------------
Diastolic bp:
Maximum value: 150.0
Minimum value: 50.0

In [20]:
filtered_data_bp['Internalpatientid'].nunique()

34511

### Getting Maximum Age for each 'Internalpatientid'

In [21]:
# Find the maximum age for each internal patient id
max_ages = filtered_data_bp.groupby('Internalpatientid')['Age at measurement bp'].max().reset_index()

In [22]:
# Merge with the original dataframe to get the rows with the highest age
measurement_bp = pd.merge(df, max_ages, on =['Internalpatientid','Age at measurement bp'], how = 'inner')

measurement_bp

       Internalpatientid  Age at measurement bp  Diastolic bp  Systolic bp
0                 100021              68.404926          93.0        152.0
1                  10008              77.173974          63.0        155.0
2                 100093              72.499385          71.0        136.0
3                 100169              82.279642          75.0        170.0
4                 100133              83.174446          63.0        105.0
...                  ...                    ...           ...          ...
34506              99716              93.797990          54.0         88.0
34507              99795              69.369097          59.0        114.0
34508              99860              93.791337          62.0        109.0
34509              99951              75.929539          68.0        107.0
34510              99997              91.226896          58.0        123.0

[34511 rows x 4 columns]

In [23]:
measurement_bp['Internalpatientid'].nunique()

34511

In [24]:
# Drop the specified columns from the DataFrame
measurement_bp.drop(['Age at measurement bp'], axis=1,inplace=True)

In [25]:
measurement_bp

       Internalpatientid  Diastolic bp  Systolic bp
0                 100021          93.0        152.0
1                  10008          63.0        155.0
2                 100093          71.0        136.0
3                 100169          75.0        170.0
4                 100133          63.0        105.0
...                  ...           ...          ...
34506              99716          54.0         88.0
34507              99795          59.0        114.0
34508              99860          62.0        109.0
34509              99951          68.0        107.0
34510              99997          58.0        123.0

[34511 rows x 3 columns]

### **Saving Measurement blood pressure file**

In [26]:
import os
cwd = os.getcwd()
cwd

'/mnt/batch/tasks/shared/LS_root/mounts/clusters/team3-lavanya-gpu2/code/Users/2211574/Best_Files'

In [27]:
measurement_bp.to_csv('/mnt/batch/tasks/shared/LS_root/mounts/clusters/team3-lavanya-gpu2/code/Users/900379/Output_files_test/Potential_files_test/df_measurement_blood_pressure_test_v1.csv')

------