In [1]:
from azureml.core import Workspace, Dataset

subscription_id = 'bcfe0c62-8ebe-4df0-a46d-1efcf8739a5b'
resource_group = 'VChamp-Team3'
workspace_name = 'vchamp-team3'


# storage account : Algorithmia, Resource group: VChamp-Team3 and workspace: vchamp-team3.

workspace = Workspace(subscription_id, resource_group, workspace_name)

In [2]:
#['data_team3_synthetic_quality_check']
datastore = workspace.datastores['data_team3_synthetic_test']

In [3]:
dataset = Dataset.Tabular.from_delimited_files(path = [(datastore, 'medications_administered_test.csv')])

# preview the first 3 rows of the dataset
# dataset.to_pandas_dataframe()

In [4]:
medications_administered = dataset.to_pandas_dataframe()

In [5]:
type(medications_administered)

pandas.core.frame.DataFrame

In [6]:
medications_administered

,Column1,Internalpatientid,Age at med administration,Administration date,Administration end date,Administered medication atc 5,Administration status,Dose form,Dose administered,Dose unit administered,State
0,7,100,55.091412,2016-10-30 21:51:56,NaT,guaifenesin,Given,"liquid,oral",1.0,100mg,New York
1,8,100,55.092740,2016-10-31 09:30:48,NaT,zolpidem,Given,tab,1.0,tab,New York
2,9,100,55.093949,2016-10-31 20:07:24,NaT,guaifenesin,Given,"liquid,oral",1.0,100mg,New York
3,10,100,55.093950,2016-10-31 20:07:52,NaT,heparin,Given,"inj,soln",1.0,5000 units,New York
4,11,100,55.093954,2016-10-31 20:09:45,NaT,chlorhexidine,Given,"rinse,oral",1.0,1 unit,New York
...,...,...,...,...,...,...,...,...,...,...,...
34529698,159707760,99990,80.623912,2003-08-18 00:57:37,NaT,lisinopril,Given,tab,1.0,tab,Texas
34529699,159707761,99990,80.626655,2003-08-19 01:01:13,NaT,lisinopril,Given,tab,1.0,tab,Texas
34529700,159707967,99997,77.081614,2006-03-20 07:55:03,NaT,formoterol,Missing dose,"cap,inhl",0.0,"cap,inhl",North Carolina
34529701,159707968,99997,77.084240,2006-03-21 06:57:00,NaT,finasteride,Given,tab,1.0,tab,North Carolina
34529702,159707969,99997,78.575427,2007-09-17 07:38:30,NaT,lisinopril,Given,tab,1.0,tab,North Carolina

In [7]:
import pandas as pd

In [8]:
medications_administered.nunique()

Column1                          34529703
Internalpatientid                   22010
Age at med administration        34114486
Administration date              32258392
Administration end date            379052
Administered medication atc 5        2172
Administration status                  10
Dose form                             209
Dose administered                  758430
Dose unit administered             171058
State                                  50
dtype: int64

In [9]:
medications_administered['Internalpatientid'].value_counts()

Internalpatientid
61845     173666
108165    167621
26263     163749
105587    163653
70623     160068
           ...
104316         1
121298         1
141524         1
47610          1
97326          1
Name: count, Length: 22010, dtype: int64

In [10]:
medications_administered['Administration status'].value_counts()

Administration status
Given                          31177904
Held                            1706845
Refused                          979604
Completed (infusion orders)      323958
Removed (patch taken off)        107026
Missing dose                     103274
Infusing (infusion orders)       100008
Not given                         20595
Not specified (no value)           8404
Stopped (infusion orders)          2085
Name: count, dtype: int64

In [11]:
medications_administered.drop(['Column1','Administration date','Administration end date','State','Dose form','Dose administered','Dose unit administered'], axis = 1,inplace = True)
medications_administered

,Internalpatientid,Age at med administration,Administered medication atc 5,Administration status
0,100,55.091412,guaifenesin,Given
1,100,55.092740,zolpidem,Given
2,100,55.093949,guaifenesin,Given
3,100,55.093950,heparin,Given
4,100,55.093954,chlorhexidine,Given
...,...,...,...,...
34529698,99990,80.623912,lisinopril,Given
34529699,99990,80.626655,lisinopril,Given
34529700,99997,77.081614,formoterol,Missing dose
34529701,99997,77.084240,finasteride,Given
34529702,99997,78.575427,lisinopril,Given

**Two -level of sorting first by "Internalpatientid" then "Age at ed visit".**

In [12]:
sorted_df = medications_administered.sort_values(by=['Internalpatientid','Age at med administration'])
sorted_df

,Internalpatientid,Age at med administration,Administered medication atc 5,Administration status
24526724,7,57.119342,insulin (human) fast-acting,Held
33032538,7,57.119342,tramadol,Given
24497324,7,57.119678,tramadol,Given
24508887,7,57.119678,trazodone,Given
24502618,7,57.119679,insulin (human) fast-acting,Held
...,...,...,...,...
13844768,169065,53.320066,hydromorphone,Given
28594408,169065,53.320232,hydromorphone,Given
13822877,169065,53.320412,sevelamer,Held
13837827,169065,53.320523,ipratropium bromide,Held
13830491,169065,53.320523,salbutamol,Held

In [13]:
# Remove the rows where both columns contain "Not Specified"
sorted_df = sorted_df.drop(sorted_df[(sorted_df['Administered medication atc 5'] == 'Not specified') & (sorted_df['Administration status'] == 'Not specified (no value)')].index)
sorted_df

,Internalpatientid,Age at med administration,Administered medication atc 5,Administration status
24526724,7,57.119342,insulin (human) fast-acting,Held
33032538,7,57.119342,tramadol,Given
24497324,7,57.119678,tramadol,Given
24508887,7,57.119678,trazodone,Given
24502618,7,57.119679,insulin (human) fast-acting,Held
...,...,...,...,...
13844768,169065,53.320066,hydromorphone,Given
28594408,169065,53.320232,hydromorphone,Given
13822877,169065,53.320412,sevelamer,Held
13837827,169065,53.320523,ipratropium bromide,Held
13830491,169065,53.320523,salbutamol,Held

In [14]:
sorted_df.isnull().sum()

Internalpatientid                0
Age at med administration        0
Administered medication atc 5    0
Administration status            0
dtype: int64

In [15]:
sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34528025 entries, 24526724 to 13830491
Data columns (total 4 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Internalpatientid              int64
 1   Age at med administration      float64
 2   Administered medication atc 5  object
 3   Administration status          object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.3+ GB

In [16]:
# Format 'Age at measurement' values in the format 00.00
sorted_df["Age at med administration"] = sorted_df["Age at med administration"].map("{:.5f}".format)
sorted_df

,Internalpatientid,Age at med administration,Administered medication atc 5,Administration status
24526724,7,57.11934,insulin (human) fast-acting,Held
33032538,7,57.11934,tramadol,Given
24497324,7,57.11968,tramadol,Given
24508887,7,57.11968,trazodone,Given
24502618,7,57.11968,insulin (human) fast-acting,Held
...,...,...,...,...
13844768,169065,53.32007,hydromorphone,Given
28594408,169065,53.32023,hydromorphone,Given
13822877,169065,53.32041,sevelamer,Held
13837827,169065,53.32052,ipratropium bromide,Held
13830491,169065,53.32052,salbutamol,Held

In [17]:
sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34528025 entries, 24526724 to 13830491
Data columns (total 4 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Internalpatientid              int64
 1   Age at med administration      object
 2   Administered medication atc 5  object
 3   Administration status          object
dtypes: int64(1), object(3)
memory usage: 1.3+ GB

In [18]:
# Find the maximum age for each internal patient id
max_ages = sorted_df.groupby('Internalpatientid')['Age at med administration'].max().reset_index()

# Merge with the original dataframe to get the rows with the highest age

result_df = pd.merge(sorted_df, max_ages, on =['Internalpatientid','Age at med administration'], how = 'inner')

result_df

,Internalpatientid,Age at med administration,Administered medication atc 5,Administration status
0,7,67.71110,insulin aspart fast-acting,Held
1,9,51.86893,calcium acetate anhydrous,Given
2,12,74.01642,ipratropium bromide ; salbutamol,Given
3,12,74.01642,furosemide,Given
4,12,74.01642,lisinopril,Given
...,...,...,...,...
50747,169059,79.92992,"ascorbic acid (vitamin c) ; vitamin b-complex,...",Given
50748,169059,79.92992,diltiazem,Given
50749,169059,79.92992,lisinopril,Given
50750,169065,53.32052,ipratropium bromide,Held
50751,169065,53.32052,salbutamol,Held

In [19]:
# Convert 'Age at measurement' column from object to float
result_df["Age at med administration"] = result_df["Age at med administration"].astype(float)

 

# Round off the values in the 'Age at measurement' column to two decimal places
result_df["Age at med administration"] = result_df["Age at med administration"].round()

In [20]:
result_df['Age at med administration'] = result_df['Age at med administration'].astype('int')

In [21]:
# Now the value counts
result_df['Internalpatientid'].value_counts()

Internalpatientid
150099    23
106479    22
140645    19
9434      18
35412     17
          ..
41774      1
104075     1
41767      1
41766      1
7          1
Name: count, Length: 21995, dtype: int64

In [22]:
result_df['medication_administered_medication_atc5'] = result_df['Age at med administration'].astype(str) + '_' + result_df['Administered medication atc 5']
result_df

,Internalpatientid,Age at med administration,Administered medication atc 5,Administration status,medication_administered_medication_atc5
0,7,68,insulin aspart fast-acting,Held,68_insulin aspart fast-acting
1,9,52,calcium acetate anhydrous,Given,52_calcium acetate anhydrous
2,12,74,ipratropium bromide ; salbutamol,Given,74_ipratropium bromide ; salbutamol
3,12,74,furosemide,Given,74_furosemide
4,12,74,lisinopril,Given,74_lisinopril
...,...,...,...,...,...
50747,169059,80,"ascorbic acid (vitamin c) ; vitamin b-complex,...",Given,80_ascorbic acid (vitamin c) ; vitamin b-compl...
50748,169059,80,diltiazem,Given,80_diltiazem
50749,169059,80,lisinopril,Given,80_lisinopril
50750,169065,53,ipratropium bromide,Held,53_ipratropium bromide
50751,169065,53,salbutamol,Held,53_salbutamol

In [23]:
result_df['medication_administered_status'] = result_df['Age at med administration'].astype(str) + '_' + result_df['Administration status']
result_df

,Internalpatientid,Age at med administration,Administered medication atc 5,Administration status,medication_administered_medication_atc5,medication_administered_status
0,7,68,insulin aspart fast-acting,Held,68_insulin aspart fast-acting,68_Held
1,9,52,calcium acetate anhydrous,Given,52_calcium acetate anhydrous,52_Given
2,12,74,ipratropium bromide ; salbutamol,Given,74_ipratropium bromide ; salbutamol,74_Given
3,12,74,furosemide,Given,74_furosemide,74_Given
4,12,74,lisinopril,Given,74_lisinopril,74_Given
...,...,...,...,...,...,...
50747,169059,80,"ascorbic acid (vitamin c) ; vitamin b-complex,...",Given,80_ascorbic acid (vitamin c) ; vitamin b-compl...,80_Given
50748,169059,80,diltiazem,Given,80_diltiazem,80_Given
50749,169059,80,lisinopril,Given,80_lisinopril,80_Given
50750,169065,53,ipratropium bromide,Held,53_ipratropium bromide,53_Held
50751,169065,53,salbutamol,Held,53_salbutamol,53_Held

In [24]:
result_df.drop(['Age at med administration','Administered medication atc 5','Administration status'], axis = 1,inplace = True)

In [25]:
result_df['medication_administered_medication_atc5'] = result_df['medication_administered_medication_atc5'].astype(str)
result_df['medication_administered_status'] = result_df['medication_administered_status'].astype(str)

In [26]:
df_medication_administered = result_df.groupby('Internalpatientid').apply(lambda x: pd.Series({
    'medication_administered_medication_atc5' : ', '.join(x['medication_administered_medication_atc5']),
    'medication_administered_status' : ', '.join(x['medication_administered_status'])
    

}))

# Reset the index of the dataframe
df_medication_administered = df_medication_administered.reset_index()

# print the grouped dataframe
print(df_medication_administered)

       Internalpatientid            medication_administered_medication_atc5
0                      7                      68_insulin aspart fast-acting  \
1                      9                       52_calcium acetate anhydrous
2                     12  74_ipratropium bromide ; salbutamol, 74_furose...
3                     17                            82_levothyroxine sodium
4                     22      61_sevelamer, 61_gabapentin, 61_Not specified
...                  ...                                                ...
21990             168995           75_barium sulfate with suspending agents
21991             169011       69_hydrocodone ; paracetamol (acetaminophen)
21992             169037                                         85_heparin
21993             169059  80_calcium, 80_docusate, 80_ascorbic acid (vit...
21994             169065              53_ipratropium bromide, 53_salbutamol

                         medication_administered_status
0                                               68_Held
1                                              52_Given
2                74_Given, 74_Given, 74_Given, 74_Given
3                                              82_Given
4                    61_Refused, 61_Refused, 61_Refused
...                                                 ...
21990                       75_Not specified (no value)
21991                                          69_Given
21992                                          85_Given
21993  80_Given, 80_Given, 80_Given, 80_Given, 80_Given
21994                                  53_Held, 53_Held

[21995 rows x 3 columns]

### **Final Data Frame**

In [27]:
df_medication_administered

,Internalpatientid,medication_administered_medication_atc5,medication_administered_status
0,7,68_insulin aspart fast-acting,68_Held
1,9,52_calcium acetate anhydrous,52_Given
2,12,"74_ipratropium bromide ; salbutamol, 74_furose...","74_Given, 74_Given, 74_Given, 74_Given"
3,17,82_levothyroxine sodium,82_Given
4,22,"61_sevelamer, 61_gabapentin, 61_Not specified","61_Refused, 61_Refused, 61_Refused"
...,...,...,...
21990,168995,75_barium sulfate with suspending agents,75_Not specified (no value)
21991,169011,69_hydrocodone ; paracetamol (acetaminophen),69_Given
21992,169037,85_heparin,85_Given
21993,169059,"80_calcium, 80_docusate, 80_ascorbic acid (vit...","80_Given, 80_Given, 80_Given, 80_Given, 80_Given"
21994,169065,"53_ipratropium bromide, 53_salbutamol","53_Held, 53_Held"

In [29]:
df_medication_administered['Internalpatientid'].value_counts()

Internalpatientid
7         1
112869    1
112939    1
112937    1
112919    1
         ..
56420     1
56419     1
56414     1
56408     1
169065    1
Name: count, Length: 21995, dtype: int64

In [30]:
# saving as the csv file in the appropriate directory
df_medication_administered.to_csv('/mnt/batch/tasks/shared/LS_root/mounts/clusters/team3-nishagpu2/code/Users/900379/Output_files_test/df_medication_administered_test.csv')