In [1]:
from azureml.core import Workspace, Dataset

subscription_id = 'bcfe0c62-8ebe-4df0-a46d-1efcf8739a5b'
resource_group = 'VChamp-Team3'
workspace_name = 'vchamp-team3'


# storage account : Algorithmia, Resource group: VChamp-Team3 and workspace: vchamp-team3.

workspace = Workspace(subscription_id, resource_group, workspace_name)

In [2]:
#['data_team3_synthetic_quality_check']
datastore = workspace.datastores['data_team3_synthetic_train']

In [3]:
dataset = Dataset.Tabular.from_delimited_files(path = [(datastore, 'demographics_static_train.csv')])

# preview the first 3 rows of the dataset
# dataset.to_pandas_dataframe()

In [4]:
demographic_static = dataset.to_pandas_dataframe()

In [5]:
demographic_static

,Column1,Internalpatientid,Ethnicity,Gender,Races,Veteran flag
0,0,168674,Hispanic or Latino,Male,White,True
1,1,168681,Not Hispanic or Latino,Male,White,True
2,2,168696,Not Hispanic or Latino,Female,Not specified (no value),True
3,3,168711,Not Hispanic or Latino,Male,Other,True
4,4,168720,Not Hispanic or Latino,Male,White,True
...,...,...,...,...,...,...
133247,169059,168624,Not Hispanic or Latino,Male,Black or African American,True
133248,169060,168626,Not Hispanic or Latino,Male,Black or African American,True
133249,169061,168628,Not Hispanic or Latino,Male,White,True
133250,169062,168645,Not Hispanic or Latino,Male,White,True
133251,169064,168661,Not Hispanic or Latino,Male,White,True

In [6]:
demographic_static['Internalpatientid'].value_counts()

Internalpatientid
168674    1
12622     1
126206    1
126198    1
126192    1
         ..
48610     1
48583     1
48578     1
48573     1
168661    1
Name: count, Length: 133252, dtype: int64

In [7]:
demographic_static = demographic_static.drop(['Column1','Ethnicity','Races'], axis = 1)
demographic_static.head()

   Internalpatientid  Gender  Veteran flag
0             168674    Male          True
1             168681    Male          True
2             168696  Female          True
3             168711    Male          True
4             168720    Male          True

In [8]:
demographic_static

        Internalpatientid  Gender  Veteran flag
0                  168674    Male          True
1                  168681    Male          True
2                  168696  Female          True
3                  168711    Male          True
4                  168720    Male          True
...                   ...     ...           ...
133247             168624    Male          True
133248             168626    Male          True
133249             168628    Male          True
133250             168645    Male          True
133251             168661    Male          True

[133252 rows x 3 columns]

In [10]:
sorted_df = demographic_static.sort_values(by=['Internalpatientid'])
sorted_df

        Internalpatientid Gender  Veteran flag
18099                   1   Male          True
131674                  2   Male          True
3476                    3   Male          True
45420                   4   Male          True
87625                   5   Male          True
...                   ...    ...           ...
131542             169060   Male          True
84598              169061   Male          True
3139               169062   Male          True
25760              169063   Male          True
59288              169064   Male          True

[133252 rows x 3 columns]

In [11]:
# saving as the csv file in the appropriate directory
sorted_df.to_csv('/mnt/batch/tasks/shared/LS_root/mounts/clusters/team3-nishagpu2/code/Users/900379/Output_files_train/df_demographic_static_train.csv')