In [1]:
from azureml.core import Workspace, Dataset

subscription_id = 'bcfe0c62-8ebe-4df0-a46d-1efcf8739a5b'
resource_group = 'VChamp-Team3'
workspace_name = 'vchamp-team3'


# storage account : Algorithmia, Resource group: VChamp-Team3 and workspace: vchamp-team3.

workspace = Workspace(subscription_id, resource_group, workspace_name)

In [2]:
#['data_team3_synthetic_quality_check']
datastore = workspace.datastores['data_team3_synthetic_train']

In [3]:
dataset = Dataset.Tabular.from_delimited_files(path = [(datastore, 'medications_administered_train.csv')])

# preview the first 3 rows of the dataset
# dataset.to_pandas_dataframe()

In [4]:
medications_administered = dataset.to_pandas_dataframe()

In [5]:
type(medications_administered)

pandas.core.frame.DataFrame

In [6]:
medications_administered

,Column1,Internalpatientid,Age at med administration,Administration date,Administration end date,Administered medication atc 5,Administration status,Dose form,Dose administered,Dose unit administered,State
0,0,1,67.681687,2011-12-12 15:45:21,NaT,omega-3-triglycerides,Given,"cap,oral",3.0,"cap,oral",Indiana
1,1,1,67.682563,2011-12-12 23:26:46,NaT,metoprolol,Given,tab,3.0,tab,Indiana
2,2,1,68.349672,2012-08-12 19:19:33,NaT,omega-3-triglycerides,Given,"cap,oral",3.0,"cap,oral",Indiana
3,3,1,68.353308,2012-08-14 03:13:09,NaT,metoprolol,Given,tab,1.0,tab,Indiana
4,4,1,72.279863,2016-07-19 06:57:34,NaT,metoprolol,Given,tab,1.0,tab,Indiana
...,...,...,...,...,...,...,...,...,...,...,...
123849580,159708083,99999,96.358554,2013-04-10 01:14:15,NaT,salbutamol,Given,"soln,inhl",1.0,1 amp,Arizona
123849581,159708084,99999,96.361282,2013-04-11 01:09:47,NaT,insulin (human) fast-acting,Held,inj,0.0,None,Arizona
123849582,159708085,99999,96.364498,2013-04-12 05:22:34,NaT,Not specified,Given,inj,1.0,90ml,Arizona
123849583,159708086,99999,96.369586,2013-04-14 02:00:34,NaT,docusate,Held,"cap,oral",0.0,"cap,oral",Arizona
123849584,159708087,99999,96.370197,2013-04-14 07:22:14,NaT,travoprost,Given,"soln,oph",1.0,1 drop both eyes,Arizona

In [7]:
import pandas as pd

**Getting the csv for the value counts for the internalpatientid**

In [9]:
#medications_administered_value_counts = medications_administered['Internalpatientid'].value_counts().to_frame()
#medications_administered_value_counts = medications_administered_value_counts.reset_index()
#medications_administered_value_counts.columns=['Internalpatientid','counts for medications_administered']

In [8]:
import os
cwd = os.getcwd()
cwd

'/mnt/batch/tasks/shared/LS_root/mounts/clusters/team3-nisha-gpu/code/Users/2211566'

In [13]:
#df.to_csv('Path where you want to store the exported CSV file/File Name.csv')
#medications_administered_value_counts.to_csv('/mnt/batch/tasks/shared/LS_root/mounts/clusters/team3-nisha-gpu/code/Users/900379/Counts/Count_medications_administered.csv')
#counts = medications_administered['Internalpatientid'].value_counts().loc[lambda x: x>1000]

In [9]:
medications_administered.nunique()

Column1                          123849585
Internalpatientid                    83563
Age at med administration        118669313
Administration date              109302253
Administration end date            1440494
Administered medication atc 5         2583
Administration status                   10
Dose form                              230
Dose administered                  2823810
Dose unit administered              348052
State                                   50
dtype: int64

In [10]:
medications_administered['Internalpatientid'].value_counts()

Internalpatientid
154213    199787
37849     189894
107709    188824
147504    171817
131030    171025
           ...
130468         1
130647         1
130875         1
115454         1
99748          1
Name: count, Length: 83563, dtype: int64

In [11]:
medications_administered['Administration status'].value_counts()

Administration status
Given                          111703927
Held                             6139859
Refused                          3470929
Completed (infusion orders)      1231777
Removed (patch taken off)         421904
Missing dose                      384054
Infusing (infusion orders)        381964
Not given                          75922
Not specified (no value)           31599
Stopped (infusion orders)           7650
Name: count, dtype: int64

**Dropping the unnecessary columns**

In [12]:
medications_administered.drop(['Column1','Administration date','Administration end date','State','Dose form','Dose administered','Dose unit administered'], axis = 1,inplace = True)
medications_administered

,Internalpatientid,Age at med administration,Administered medication atc 5,Administration status
0,1,67.681687,omega-3-triglycerides,Given
1,1,67.682563,metoprolol,Given
2,1,68.349672,omega-3-triglycerides,Given
3,1,68.353308,metoprolol,Given
4,1,72.279863,metoprolol,Given
...,...,...,...,...
123849580,99999,96.358554,salbutamol,Given
123849581,99999,96.361282,insulin (human) fast-acting,Held
123849582,99999,96.364498,Not specified,Given
123849583,99999,96.369586,docusate,Held
123849584,99999,96.370197,travoprost,Given

**Two -level of sorting first by "Internalpatientid" then "Age at ed visit".**

In [13]:
sorted_df = medications_administered.sort_values(by=['Internalpatientid','Age at med administration'])

In [14]:
sorted_df

,Internalpatientid,Age at med administration,Administered medication atc 5,Administration status
44034,1,67.676699,metoprolol,Given
46808,1,67.677243,enoxaparin,Given
45897,1,67.677245,omega-3-triglycerides,Given
1148820,1,67.677247,metoprolol,Given
48658,1,67.677258,Not specified,Completed (infusion orders)
...,...,...,...,...
52727434,169064,81.691357,paroxetine,Given
52655702,169064,81.691357,senna glycosides,Given
52709551,169064,81.691362,oxycodone,Given
52820926,169064,81.691480,potassium chloride,Given
52792938,169064,81.691736,lorazepam,Given

In [15]:
# Remove the rows where both columns contain "Not Specified"
sorted_df = sorted_df.drop(sorted_df[(sorted_df['Administered medication atc 5'] == 'Not specified') & (sorted_df['Administration status'] == 'Not specified (no value)')].index)
sorted_df

,Internalpatientid,Age at med administration,Administered medication atc 5,Administration status
44034,1,67.676699,metoprolol,Given
46808,1,67.677243,enoxaparin,Given
45897,1,67.677245,omega-3-triglycerides,Given
1148820,1,67.677247,metoprolol,Given
48658,1,67.677258,Not specified,Completed (infusion orders)
...,...,...,...,...
52727434,169064,81.691357,paroxetine,Given
52655702,169064,81.691357,senna glycosides,Given
52709551,169064,81.691362,oxycodone,Given
52820926,169064,81.691480,potassium chloride,Given
52792938,169064,81.691736,lorazepam,Given

In [16]:
sorted_df.isnull().sum()

Internalpatientid                0
Age at med administration        0
Administered medication atc 5    0
Administration status            0
dtype: int64

In [17]:
sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 123843721 entries, 44034 to 52792938
Data columns (total 4 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Internalpatientid              int64
 1   Age at med administration      float64
 2   Administered medication atc 5  object
 3   Administration status          object
dtypes: float64(1), int64(1), object(2)
memory usage: 4.6+ GB

In [18]:
# Format 'Age at measurement' values in the format 00.00
sorted_df["Age at med administ"] = sorted_df["Age at med administration"].map("{:.5f}".format)
sorted_df

,Internalpatientid,Age at med administration,Administered medication atc 5,Administration status
44034,1,67.67670,metoprolol,Given
46808,1,67.67724,enoxaparin,Given
45897,1,67.67724,omega-3-triglycerides,Given
1148820,1,67.67725,metoprolol,Given
48658,1,67.67726,Not specified,Completed (infusion orders)
...,...,...,...,...
52727434,169064,81.69136,paroxetine,Given
52655702,169064,81.69136,senna glycosides,Given
52709551,169064,81.69136,oxycodone,Given
52820926,169064,81.69148,potassium chloride,Given
52792938,169064,81.69174,lorazepam,Given

In [19]:
sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 123843721 entries, 44034 to 52792938
Data columns (total 4 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Internalpatientid              int64
 1   Age at med administration      object
 2   Administered medication atc 5  object
 3   Administration status          object
dtypes: int64(1), object(3)
memory usage: 4.6+ GB

In [20]:
# Find the maximum age for each internal patient id
max_ages = sorted_df.groupby('Internalpatientid')['Age at med administration'].max().reset_index()

# Merge with the original dataframe to get the rows with the highest age

result_df = pd.merge(sorted_df, max_ages, on =['Internalpatientid','Age at med administration'], how = 'inner')

result_df

,Internalpatientid,Age at med administration,Administered medication atc 5,Administration status
0,1,79.75565,iopromide,Not specified (no value)
1,2,69.02609,gabapentin,Given
2,2,69.02609,capsaicin,Given
3,3,82.28547,glipizide,Held
4,4,84.18682,dorzolamide,Given
...,...,...,...,...
190151,169060,71.30210,sucralfate,Held
190152,169060,71.30210,ferrous sulfate,Held
190153,169062,74.18286,Not specified,Infusing (infusion orders)
190154,169062,74.18286,morphine,Infusing (infusion orders)
190155,169064,81.69174,lorazepam,Given

In [21]:
# Convert 'Age at measurement' column from object to float
result_df["Age at med administration"] = result_df["Age at med administration"].astype(float)

 

# Round off the values in the 'Age at measurement' column to two decimal places
result_df["Age at med administration"] = result_df["Age at med administration"].round()

In [22]:
result_df['Age at med administration'] = result_df['Age at med administration'].astype('int')

In [23]:
# Now the value counts
result_df['Internalpatientid'].value_counts()

Internalpatientid
39614     25
9942      23
30751     23
98434     22
12387     20
          ..
74116      1
74124      1
74126      1
74131      1
169064     1
Name: count, Length: 83510, dtype: int64

In [24]:
result_df['medication_administered_medication_atc5'] = result_df['Age at med administration'].astype(str) + '_' + result_df['Administered medication atc 5']
result_df

,Internalpatientid,Age at med administration,Administered medication atc 5,Administration status,medication_administered_medication_atc5
0,1,80,iopromide,Not specified (no value),80_iopromide
1,2,69,gabapentin,Given,69_gabapentin
2,2,69,capsaicin,Given,69_capsaicin
3,3,82,glipizide,Held,82_glipizide
4,4,84,dorzolamide,Given,84_dorzolamide
...,...,...,...,...,...
190151,169060,71,sucralfate,Held,71_sucralfate
190152,169060,71,ferrous sulfate,Held,71_ferrous sulfate
190153,169062,74,Not specified,Infusing (infusion orders),74_Not specified
190154,169062,74,morphine,Infusing (infusion orders),74_morphine
190155,169064,82,lorazepam,Given,82_lorazepam

In [25]:
result_df['medication_administered_status'] = result_df['Age at med administration'].astype(str) + '_' + result_df['Administration status']
result_df

,Internalpatientid,Age at med administration,Administered medication atc 5,Administration status,medication_administered_medication_atc5,medication_administered_status
0,1,80,iopromide,Not specified (no value),80_iopromide,80_Not specified (no value)
1,2,69,gabapentin,Given,69_gabapentin,69_Given
2,2,69,capsaicin,Given,69_capsaicin,69_Given
3,3,82,glipizide,Held,82_glipizide,82_Held
4,4,84,dorzolamide,Given,84_dorzolamide,84_Given
...,...,...,...,...,...,...
190151,169060,71,sucralfate,Held,71_sucralfate,71_Held
190152,169060,71,ferrous sulfate,Held,71_ferrous sulfate,71_Held
190153,169062,74,Not specified,Infusing (infusion orders),74_Not specified,74_Infusing (infusion orders)
190154,169062,74,morphine,Infusing (infusion orders),74_morphine,74_Infusing (infusion orders)
190155,169064,82,lorazepam,Given,82_lorazepam,82_Given

In [26]:
result_df.drop(['Age at med administration','Administered medication atc 5','Administration status'], axis = 1,inplace = True)

In [27]:
result_df

,Internalpatientid,medication_administered_medication_atc5,medication_administered_status
0,1,80_iopromide,80_Not specified (no value)
1,2,69_gabapentin,69_Given
2,2,69_capsaicin,69_Given
3,3,82_glipizide,82_Held
4,4,84_dorzolamide,84_Given
...,...,...,...
190151,169060,71_sucralfate,71_Held
190152,169060,71_ferrous sulfate,71_Held
190153,169062,74_Not specified,74_Infusing (infusion orders)
190154,169062,74_morphine,74_Infusing (infusion orders)
190155,169064,82_lorazepam,82_Given

**Again checking the value counts**

In [28]:
result_df['Internalpatientid'].value_counts()

Internalpatientid
39614     25
9942      23
30751     23
98434     22
12387     20
          ..
74116      1
74124      1
74126      1
74131      1
169064     1
Name: count, Length: 83510, dtype: int64

In [30]:
import numpy as np

In [29]:
import pandas as pd

In [30]:
result_df['medication_administered_medication_atc5'] = result_df['medication_administered_medication_atc5'].astype(str)
result_df['medication_administered_status'] = result_df['medication_administered_status'].astype(str)

In [31]:
df_medication_administered = result_df.groupby('Internalpatientid').apply(lambda x: pd.Series({
    'medication_administered_medication_atc5' : ', '.join(x['medication_administered_medication_atc5']),
    'medication_administered_status' : ', '.join(x['medication_administered_status'])
    

}))

# Reset the index of the dataframe
df_medication_administered = df_medication_administered.reset_index()

# print the grouped dataframe
print(df_medication_administered)

       Internalpatientid            medication_administered_medication_atc5
0                      1                                       80_iopromide  \
1                      2                        69_gabapentin, 69_capsaicin
2                      3                                       82_glipizide
3                      4  84_dorzolamide, 84_bimatoprost, 84_brimonidine...
4                      5                                        77_morphine
...                  ...                                                ...
83505             169055                             59_glyceryl trinitrate
83506             169057                                      86_diclofenac
83507             169060  71_morphine, 71_heparin, 71_sucralfate, 71_fer...
83508             169062                      74_Not specified, 74_morphine
83509             169064                                       82_lorazepam

                          medication_administered_status
0                            80_Not specified (no value)
1                                     69_Given, 69_Given
2                                                82_Held
3       84_Given, 84_Given, 84_Given, 84_Given, 84_Given
4                                               77_Given
...                                                  ...
83505                                           59_Given
83506                                           86_Given
83507                 71_Held, 71_Held, 71_Held, 71_Held
83508  74_Infusing (infusion orders), 74_Infusing (in...
83509                                           82_Given

[83510 rows x 3 columns]

#### **Final Data Frame**

In [32]:
df_medication_administered

,Internalpatientid,medication_administered_medication_atc5,medication_administered_status
0,1,80_iopromide,80_Not specified (no value)
1,2,"69_gabapentin, 69_capsaicin","69_Given, 69_Given"
2,3,82_glipizide,82_Held
3,4,"84_dorzolamide, 84_bimatoprost, 84_brimonidine...","84_Given, 84_Given, 84_Given, 84_Given, 84_Given"
4,5,77_morphine,77_Given
...,...,...,...
83505,169055,59_glyceryl trinitrate,59_Given
83506,169057,86_diclofenac,86_Given
83507,169060,"71_morphine, 71_heparin, 71_sucralfate, 71_fer...","71_Held, 71_Held, 71_Held, 71_Held"
83508,169062,"74_Not specified, 74_morphine","74_Infusing (infusion orders), 74_Infusing (in..."
83509,169064,82_lorazepam,82_Given

In [33]:
df_medication_administered['Internalpatientid'].value_counts()

Internalpatientid
1         1
112612    1
112642    1
112640    1
112639    1
         ..
56327     1
56326     1
56323     1
56322     1
169064    1
Name: count, Length: 83510, dtype: int64

In [34]:
# saving as the csv file in the appropriate directory
df_medication_administered.to_csv('/mnt/batch/tasks/shared/LS_root/mounts/clusters/team3-nisha-gpu/code/Users/900379/Output_files_train/df_medication_administered.csv')

In [26]:
from azure.storage.blob import BlobServiceClient

In [27]:
connection_string = "DefaultEndpointsProtocol=https;AccountName=algorithmia;AccountKey=AyplqSK1eJCRDNd3uQFxq74uakeKnSQS0C/bLnOWS0aopDd/9JsX8WJ6QVPc+Im6I1m1f9s/xle4+AStpwOqVA==;EndpointSuffix=core.windows.net"
container_name = "files"

# save the data frame as csv file
csv_data = df_medication_administered.to_csv(index = False, sep = ',')

#Define the filename for the csv file in the container

file_name = "df_medication_administered.csv"

# crate a blobserviceclient
blob_service_client = BlobServiceClient.from_connection_string(connection_string)

#Get the container client
container_client = blob_service_client.get_container_client(container_name)

# upload the csv data to the container
container_client.upload_blob(name = file_name,data=csv_data,overwrite = True)