In [1]:
from azureml.core import Workspace, Dataset

subscription_id = 'bcfe0c62-8ebe-4df0-a46d-1efcf8739a5b'
resource_group = 'VChamp-Team3'
workspace_name = 'vchamp-team3'


# storage account : Algorithmia, Resource group: VChamp-Team3 and workspace: vchamp-team3.

workspace = Workspace(subscription_id, resource_group, workspace_name)

In [2]:
#['data_team3_synthetic_quality_check']
datastore = workspace.datastores['data_team3_synthetic_train']

In [3]:
dataset = Dataset.Tabular.from_delimited_files(path = [(datastore, 'medications_ordered_train.csv')])

# preview the first 3 rows of the dataset
# dataset.to_pandas_dataframe()

In [4]:
medications_ordered = dataset.to_pandas_dataframe()

In [5]:
medications_ordered

,Column1,Internalpatientid,Age at med ordered,Order date,Medication start date,Medication stop date,Order discontinue date,Ordered medication atc 5,Order status,Stop reason,State
0,0,1,59.763581,2004-01-09 14:07:46,2004-01-09 01:33:46,2004-04-02 11:27:46,2004-04-02 11:27:46,lisinopril,discontinued/edit,Not specified (no value),Indiana
1,1,1,59.998896,2004-04-04 14:19:12,2004-04-04 04:26:12,2005-03-07 04:26:12,2005-04-17 15:19:12,Not specified,discontinued,Not specified (no value),Indiana
2,2,1,60.794427,2005-01-20 08:43:00,2005-01-19 20:06:00,2005-06-29 05:18:00,2005-06-29 05:18:00,lisinopril,discontinued,Requesting Physician Cancelled,Indiana
3,3,1,61.136678,2005-05-25 10:56:29,2005-05-24 20:23:29,2005-06-23 20:23:29,NaT,amoxicillin,expired,Not specified (no value),Indiana
4,4,1,63.256011,2007-07-09 01:43:28,2007-07-08 20:21:28,2007-08-07 20:21:28,NaT,Not specified,expired,Not specified (no value),Indiana
...,...,...,...,...,...,...,...,...,...,...,...
59043374,75157514,99999,96.305527,2013-03-21 16:04:43,2013-03-21 16:03:43,2013-03-22 16:03:43,NaT,docusate,expired,Not specified (no value),Arizona
59043375,75157515,99999,96.305527,2013-03-21 16:04:43,2013-03-21 16:04:43,2013-03-22 16:04:43,NaT,citalopram,expired,Not specified (no value),Arizona
59043376,75157516,99999,96.344659,2013-04-04 23:20:47,2013-04-04 23:30:47,2013-04-10 04:24:47,2013-04-10 04:24:47,magnesium hydroxide,discontinued,Not specified (no value),Arizona
59043377,75157517,99999,96.353332,2013-04-08 03:25:27,2013-04-08 03:26:27,2013-04-09 23:43:27,2013-04-09 23:43:27,haloperidol,discontinued/edit,Not specified (no value),Arizona
59043378,75157518,99999,96.359411,2013-04-10 08:45:20,2013-04-10 08:46:20,2013-04-14 04:19:20,2013-04-14 04:19:20,acetylsalicylic acid,discontinued,Not specified (no value),Arizona

In [6]:
# shape of the dataframe
medications_ordered.shape

(59043379, 11)

In [7]:
# finding the unique values for each column
medications_ordered.nunique()

Column1                     59043379
Internalpatientid             132388
Age at med ordered          58500067
Order date                  35002940
Medication start date       37234764
Medication stop date        40747657
Order discontinue date      31001941
Ordered medication atc 5        4259
Order status                      12
Stop reason                      522
State                             51
dtype: int64

In [8]:
medications_ordered['Internalpatientid'].value_counts()

Internalpatientid
82129     9952
154213    9737
130333    9570
135335    9411
125484    9375
          ...
102087       1
163973       1
35045        1
139250       1
99922        1
Name: count, Length: 132388, dtype: int64

In [7]:
medications_ordered.drop(['Column1','Order date','Medication start date','Medication stop date','Order discontinue date'], axis = 1,inplace =True)
medications_ordered

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status,Stop reason,State
0,1,59.763581,lisinopril,discontinued/edit,Not specified (no value),Indiana
1,1,59.998896,Not specified,discontinued,Not specified (no value),Indiana
2,1,60.794427,lisinopril,discontinued,Requesting Physician Cancelled,Indiana
3,1,61.136678,amoxicillin,expired,Not specified (no value),Indiana
4,1,63.256011,Not specified,expired,Not specified (no value),Indiana
...,...,...,...,...,...,...
59043374,99999,96.305527,docusate,expired,Not specified (no value),Arizona
59043375,99999,96.305527,citalopram,expired,Not specified (no value),Arizona
59043376,99999,96.344659,magnesium hydroxide,discontinued,Not specified (no value),Arizona
59043377,99999,96.353332,haloperidol,discontinued/edit,Not specified (no value),Arizona
59043378,99999,96.359411,acetylsalicylic acid,discontinued,Not specified (no value),Arizona

In [8]:
medications_ordered.drop(['Stop reason','State'], axis = 1,inplace =True)

medications_ordered

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status
0,1,59.763581,lisinopril,discontinued/edit
1,1,59.998896,Not specified,discontinued
2,1,60.794427,lisinopril,discontinued
3,1,61.136678,amoxicillin,expired
4,1,63.256011,Not specified,expired
...,...,...,...,...
59043374,99999,96.305527,docusate,expired
59043375,99999,96.305527,citalopram,expired
59043376,99999,96.344659,magnesium hydroxide,discontinued
59043377,99999,96.353332,haloperidol,discontinued/edit
59043378,99999,96.359411,acetylsalicylic acid,discontinued

In [11]:
medications_ordered['Order status'].value_counts()

Order status
discontinued         34632224
expired              14205378
discontinued/edit     6327081
cancelled             2157038
complete               997778
active                 578254
lapsed                 125979
unreleased               8175
hold                     4890
pending                  4567
delayed                  1353
renewed                   662
Name: count, dtype: int64

In [9]:
sorted_df = medications_ordered.sort_values(by=['Internalpatientid','Age at med ordered'])
sorted_df

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status
39020,1,57.571873,capsaicin,expired
32165,1,57.683784,fluocinolone acetonide,expired
38200,1,57.705605,magnesium citrate,expired
877,1,57.911217,hydrochlorothiazide,discontinued
878,1,57.911217,nifedipine,discontinued
...,...,...,...,...
22666740,169064,87.523375,paroxetine,discontinued/edit
22833907,169064,87.687405,paroxetine,discontinued
45932431,169064,87.783017,levothyroxine sodium,discontinued
45711978,169064,87.783025,etodolac,discontinued
45570090,169064,87.878101,alprazolam,discontinued

In [10]:
sorted_df.isnull().sum()

Internalpatientid           0
Age at med ordered          0
Ordered medication atc 5    0
Order status                0
dtype: int64

In [11]:
# Format 'Age at measurement' values in the format 00.00
sorted_df["Age at med ordered"] = sorted_df["Age at med ordered"].map("{:.3f}".format)
sorted_df

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status
39020,1,57.572,capsaicin,expired
32165,1,57.684,fluocinolone acetonide,expired
38200,1,57.706,magnesium citrate,expired
877,1,57.911,hydrochlorothiazide,discontinued
878,1,57.911,nifedipine,discontinued
...,...,...,...,...
22666740,169064,87.523,paroxetine,discontinued/edit
22833907,169064,87.687,paroxetine,discontinued
45932431,169064,87.783,levothyroxine sodium,discontinued
45711978,169064,87.783,etodolac,discontinued
45570090,169064,87.878,alprazolam,discontinued

In [12]:
import pandas as pd

In [13]:
# Find the maximum age for each internal patient id
max_ages = sorted_df.groupby('Internalpatientid')['Age at med ordered'].max().reset_index()

# Merge with the original dataframe to get the rows with the highest age

result_df = pd.merge(sorted_df, max_ages, on =['Internalpatientid','Age at med ordered'], how = 'inner')

result_df

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status
0,1,80.230,minoxidil,active
1,1,80.230,metoprolol,active
2,2,69.513,bisacodyl,active
3,2,69.513,electrolytes,active
4,2,69.513,silicones,active
...,...,...,...,...
442791,169060,71.776,glipizide,discontinued
442792,169061,81.873,insulins and analogues,discontinued
442793,169062,74.181,lorazepam,discontinued
442794,169063,78.510,insulin (human) intermediate-acting combined w...,discontinued
442795,169064,87.878,alprazolam,discontinued

In [14]:
# Convert 'Age at measurement' column from object to float
result_df["Age at med ordered"] = result_df["Age at med ordered"].astype(float)

 

# Round off the values in the 'Age at measurement' column to two decimal places
result_df["Age at med ordered"] = result_df["Age at med ordered"].round()

In [15]:
result_df['Age at med ordered'] = result_df['Age at med ordered'].astype('int')

In [16]:
# Now the value counts
df = result_df['Internalpatientid'].value_counts().loc[lambda x: x > 25]
df

Internalpatientid
67624     73
101005    71
1184      68
101074    63
34376     61
          ..
40100     26
23365     26
96285     26
64411     26
159275    26
Name: count, Length: 570, dtype: int64

In [17]:
df = df.reset_index()

In [18]:
df.columns = ["Internalpatientid","count_conditions"]

In [19]:
df.drop('count_conditions', axis = 1, inplace = True)

In [20]:
# Merge the two dataframes based on 'Internalpatientid'
merged_df = result_df.merge(df, on='Internalpatientid', how='left')

 

 

# Filter rows from DataFrame 1 that have matching values in DataFrame 2
filtered_df = merged_df[~merged_df['Internalpatientid'].isin(df['Internalpatientid'])]

 

 

# Print only the columns of DataFrame 1
filtered_df

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status
0,1,80,minoxidil,active
1,1,80,metoprolol,active
2,2,70,bisacodyl,active
3,2,70,electrolytes,active
4,2,70,silicones,active
...,...,...,...,...
442791,169060,72,glipizide,discontinued
442792,169061,82,insulins and analogues,discontinued
442793,169062,74,lorazepam,discontinued
442794,169063,79,insulin (human) intermediate-acting combined w...,discontinued
442795,169064,88,alprazolam,discontinued

In [21]:
filtered_df['Internalpatientid'].value_counts()

Internalpatientid
141517    25
118713    25
95798     25
11022     25
113192    25
          ..
76193      1
76190      1
76188      1
76186      1
169064     1
Name: count, Length: 131818, dtype: int64

In [22]:
filtered_df['medication_ordered_medication_atc5'] = filtered_df['Age at med ordered'].astype(str) + '_' + filtered_df['Ordered medication atc 5']
filtered_df

/tmp/ipykernel_22941/545162775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['medication_ordered_medication_atc5'] = filtered_df['Age at med ordered'].astype(str) + '_' + filtered_df['Ordered medication atc 5']

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status,medication_ordered_medication_atc5
0,1,80,minoxidil,active,80_minoxidil
1,1,80,metoprolol,active,80_metoprolol
2,2,70,bisacodyl,active,70_bisacodyl
3,2,70,electrolytes,active,70_electrolytes
4,2,70,silicones,active,70_silicones
...,...,...,...,...,...
442791,169060,72,glipizide,discontinued,72_glipizide
442792,169061,82,insulins and analogues,discontinued,82_insulins and analogues
442793,169062,74,lorazepam,discontinued,74_lorazepam
442794,169063,79,insulin (human) intermediate-acting combined w...,discontinued,79_insulin (human) intermediate-acting combine...
442795,169064,88,alprazolam,discontinued,88_alprazolam

In [24]:
filtered_df['medication_ordered_status'] = filtered_df['Age at med ordered'].astype(str) + '_' + filtered_df['Order status']
filtered_df

/tmp/ipykernel_22941/2590857632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['medication_ordered_status'] = filtered_df['Age at med ordered'].astype(str) + '_' + filtered_df['Order status']

,Internalpatientid,Age at med ordered,Ordered medication atc 5,Order status,medication_ordered_medication_atc5,medication_ordered_status
0,1,80,minoxidil,active,80_minoxidil,80_active
1,1,80,metoprolol,active,80_metoprolol,80_active
2,2,70,bisacodyl,active,70_bisacodyl,70_active
3,2,70,electrolytes,active,70_electrolytes,70_active
4,2,70,silicones,active,70_silicones,70_active
...,...,...,...,...,...,...
442791,169060,72,glipizide,discontinued,72_glipizide,72_discontinued
442792,169061,82,insulins and analogues,discontinued,82_insulins and analogues,82_discontinued
442793,169062,74,lorazepam,discontinued,74_lorazepam,74_discontinued
442794,169063,79,insulin (human) intermediate-acting combined w...,discontinued,79_insulin (human) intermediate-acting combine...,79_discontinued
442795,169064,88,alprazolam,discontinued,88_alprazolam,88_discontinued

In [25]:
filtered_df.drop(['Age at med ordered','Ordered medication atc 5','Order status'], axis = 1,inplace = True)
filtered_df

/tmp/ipykernel_22941/2778465033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop(['Age at med ordered','Ordered medication atc 5','Order status'], axis = 1,inplace = True)

,Internalpatientid,medication_ordered_medication_atc5,medication_ordered_status
0,1,80_minoxidil,80_active
1,1,80_metoprolol,80_active
2,2,70_bisacodyl,70_active
3,2,70_electrolytes,70_active
4,2,70_silicones,70_active
...,...,...,...
442791,169060,72_glipizide,72_discontinued
442792,169061,82_insulins and analogues,82_discontinued
442793,169062,74_lorazepam,74_discontinued
442794,169063,79_insulin (human) intermediate-acting combine...,79_discontinued
442795,169064,88_alprazolam,88_discontinued

In [26]:
filtered_df['medication_ordered_medication_atc5'] = filtered_df['medication_ordered_medication_atc5'].astype(str)
filtered_df['medication_ordered_status'] = filtered_df['medication_ordered_status'].astype(str)

/tmp/ipykernel_22941/656839175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['medication_ordered_medication_atc5'] = filtered_df['medication_ordered_medication_atc5'].astype(str)
/tmp/ipykernel_22941/656839175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['medication_ordered_status'] = filtered_df['medication_ordered_status'].astype(str)

In [27]:
df_medication_ordered = filtered_df.groupby('Internalpatientid').apply(lambda x: pd.Series({
    'medication_ordered_medication_atc5' : ', '.join(x['medication_ordered_medication_atc5']),
    'medication_ordered_status' : ', '.join(x['medication_ordered_status'])
    

}))

# Reset the index of the dataframe
df_medication_administered = df_medication_ordered.reset_index()

# print the grouped dataframe
print(df_medication_ordered)

                                  medication_ordered_medication_atc5
Internalpatientid
1                                        80_minoxidil, 80_metoprolol  \
2                        70_bisacodyl, 70_electrolytes, 70_silicones
3                  82_furosemide, 82_glipizide, 82_acetylsalicyli...
4                                     84_pantoprazole, 84_lisinopril
5                                                        77_morphine
...                                                              ...
169060                                                  72_glipizide
169061                                     82_insulins and analogues
169062                                                  74_lorazepam
169063             79_insulin (human) intermediate-acting combine...
169064                                                 88_alprazolam

                                           medication_ordered_status
Internalpatientid
1                                               80_active, 80_active
2                                    70_active, 70_active, 70_active
3                  82_discontinued, 82_discontinued, 82_discontin...
4                                             84_expired, 84_expired
5                                                         77_expired
...                                                              ...
169060                                               72_discontinued
169061                                               82_discontinued
169062                                               74_discontinued
169063                                               79_discontinued
169064                                               88_discontinued

[131818 rows x 2 columns]

In [28]:
df_medication_ordered

,medication_ordered_medication_atc5,medication_ordered_status
Internalpatientid,,
1,"80_minoxidil, 80_metoprolol","80_active, 80_active"
2,"70_bisacodyl, 70_electrolytes, 70_silicones","70_active, 70_active, 70_active"
3,"82_furosemide, 82_glipizide, 82_acetylsalicyli...","82_discontinued, 82_discontinued, 82_discontin..."
4,"84_pantoprazole, 84_lisinopril","84_expired, 84_expired"
5,77_morphine,77_expired
...,...,...
169060,72_glipizide,72_discontinued
169061,82_insulins and analogues,82_discontinued
169062,74_lorazepam,74_discontinued
169063,79_insulin (human) intermediate-acting combine...,79_discontinued
169064,88_alprazolam,88_discontinued

In [30]:
# saving as the csv file in the appropriate directory
df_medication_ordered.to_csv('/mnt/batch/tasks/shared/LS_root/mounts/clusters/team3-nishagpu2/code/Users/900379/Output_files_train/df_medication_ordered_train.csv')