----
### **Genarating Readmission Train Target file from Inpatient Admission file**
----

### Azure notebook Setup

In [3]:
#A class attribute that provides access to the TabularDatasetFactory methods for creating new TabularDataset objects. 
#Usage: Dataset.Tabular.from_delimited_files().
from azureml.core import Workspace, Dataset

subscription_id = 'bcfe0c62-8ebe-4df0-a46d-1efcf8739a5b' #check the launch studio there will get this id
resource_group = 'VChamp-Team3' # resource group name
workspace_name = 'vchamp-team3' # worksapce name

# storage account : Algorithmia, Resource group: VChamp-Team3 and workspace: vchamp-team3.
#Constructor
workspace = Workspace(subscription_id, resource_group, workspace_name)

In [4]:
#['data_team3_synthetic_train']
datastore = workspace.datastores['data_team3_synthetic_train']

In [5]:
#from_delimited_files (Create a TabularDataset to represent tabular data in delimited files (e.g. CSV and TSV).

dataset = Dataset.Tabular.from_delimited_files(path = [(datastore, 'inpatient_admissions_train.csv')])

# preview the first 3 rows of the dataset
# dataset.to_pandas_dataframe()

In [6]:
#Converting the dataset into data frame(default as dataset in Azure, thus we must convert the needed formate)
inpatient_admissions_train_data= dataset.to_pandas_dataframe()

In [7]:
type(inpatient_admissions_train_data)

pandas.core.frame.DataFrame

In [8]:
inpatient_admissions_train_data.head()

,Column1,Internalpatientid,Age at admission,Admission date,Discharge date,Admitting unit service,Discharging unit service,Admitting specialty,Discharging specialty,First listed discharge diagnosis icd10 subcategory,Second listed discharge diagnosis icd10 subcategory,Discharge disposition,Died during admission,Outpatientreferralflag,Serviceconnectedflag,Agentorangeflag,State
0,0,10,65.649075,2015-11-28 17:41:09,2015-11-29 01:43:14,NON-COUNT,NON-COUNT,DRUG DEPENDENCE TRMT UNIT,MEDICAL OBSERVATION,"Pneumonia, unspecified organism",Hypokalemia,Regular,False,False,None,True,Utah
1,1,100001,83.767138,2009-10-01 21:19:50,2009-10-04 16:51:33,MEDICINE,MEDICINE,PSYCHIATRIC MENTALLY INFIRM,GENERAL(ACUTE MEDICINE),"Pneumonia, unspecified organism",Essential (primary) hypertension,Regular,False,True,False,False,North Carolina
2,2,100001,84.873295,2010-11-10 04:32:39,2010-11-19 08:49:45,SURGERY,SURGERY,SUBSTANCE ABUSE RES TRMT PROG,ORTHOPEDIC,"Osteoarthritis, unspecified site",Type 2 diabetes mellitus with neurological com...,Regular,False,False,None,False,North Carolina
3,3,10001,70.900369,2020-03-20 02:02:26,2020-03-28 08:47:01,SURGERY,SURGERY,PLASTIC SURGERY,SURGICAL STEPDOWN,Nonrheumatic mitral (valve) prolapse,Postprocedural shock,Regular,False,True,None,True,Florida
4,5,100016,83.054993,1999-11-20 14:23:45,1999-12-01 03:57:43,MEDICINE,MEDICINE,HEMATOLOGY/ONCOLOGY,GENERAL(ACUTE MEDICINE),"Pneumonia, unspecified organism",Unspecified mental disorder due to known physi...,Regular,False,False,None,None,Idaho

### **Importing Libraries**

In [9]:
# Importing essential libraries
import pandas as pd                 # Library for data manipulation and analysis
import numpy as np                  # Library for mathematical operations

### **Data Exploration**

In [10]:
# changing variable name for dataframe
df = inpatient_admissions_train_data

In [11]:
# Display the first few rows of a DataFrame
df.head()

,Column1,Internalpatientid,Age at admission,Admission date,Discharge date,Admitting unit service,Discharging unit service,Admitting specialty,Discharging specialty,First listed discharge diagnosis icd10 subcategory,Second listed discharge diagnosis icd10 subcategory,Discharge disposition,Died during admission,Outpatientreferralflag,Serviceconnectedflag,Agentorangeflag,State
0,0,10,65.649075,2015-11-28 17:41:09,2015-11-29 01:43:14,NON-COUNT,NON-COUNT,DRUG DEPENDENCE TRMT UNIT,MEDICAL OBSERVATION,"Pneumonia, unspecified organism",Hypokalemia,Regular,False,False,None,True,Utah
1,1,100001,83.767138,2009-10-01 21:19:50,2009-10-04 16:51:33,MEDICINE,MEDICINE,PSYCHIATRIC MENTALLY INFIRM,GENERAL(ACUTE MEDICINE),"Pneumonia, unspecified organism",Essential (primary) hypertension,Regular,False,True,False,False,North Carolina
2,2,100001,84.873295,2010-11-10 04:32:39,2010-11-19 08:49:45,SURGERY,SURGERY,SUBSTANCE ABUSE RES TRMT PROG,ORTHOPEDIC,"Osteoarthritis, unspecified site",Type 2 diabetes mellitus with neurological com...,Regular,False,False,None,False,North Carolina
3,3,10001,70.900369,2020-03-20 02:02:26,2020-03-28 08:47:01,SURGERY,SURGERY,PLASTIC SURGERY,SURGICAL STEPDOWN,Nonrheumatic mitral (valve) prolapse,Postprocedural shock,Regular,False,True,None,True,Florida
4,5,100016,83.054993,1999-11-20 14:23:45,1999-12-01 03:57:43,MEDICINE,MEDICINE,HEMATOLOGY/ONCOLOGY,GENERAL(ACUTE MEDICINE),"Pneumonia, unspecified organism",Unspecified mental disorder due to known physi...,Regular,False,False,None,None,Idaho

In [12]:
# Shape of the dataset
df.shape

num_rows = df.shape[0]  # Number of rows
num_cols = df.shape[1]  # Number of columns

print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 522740
Number of columns: 17

In [13]:
# Get the number of unique values in the 'Internalpatientid' column
print("Number of Unique Internalpatientid")
df['Internalpatientid'].nunique()

Number of Unique Internalpatientid

84536

In [14]:
# Dropping unnammed column
df = df.drop(df.columns[0], axis=1)

In [15]:
# Display the concise summary of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522740 entries, 0 to 522739
Data columns (total 16 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Internalpatientid                                    522740 non-null  int64
 1   Age at admission                                     522740 non-null  float64
 2   Admission date                                       522740 non-null  datetime64[ns]
 3   Discharge date                                       522246 non-null  datetime64[ns]
 4   Admitting unit service                               522740 non-null  object
 5   Discharging unit service                             522740 non-null  object
 6   Admitting specialty                                  522740 non-null  object
 7   Discharging specialty                                522740 non-null  object
 8   First listed discharge diagnosis icd10 subcategory   522740 non-null  object
 9   Second listed discharge diagnosis icd10 subcategory  522740 non-null  object
 10  Discharge disposition                                522740 non-null  object
 11  Died during admission                                522740 non-null  bool
 12  Outpatientreferralflag                               496297 non-null  object
 13  Serviceconnectedflag                                 35051 non-null   object
 14  Agentorangeflag                                      418228 non-null  object
 15  State                                                522740 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(1), int64(1), object(11)
memory usage: 60.3+ MB

- The 'Internalpatientid' column contains integer values, while the 'Age at admission' column is in float format. The rest of the features are represented as objects.

### **Checking for Missing Values**

In [16]:
# List comprehension to find columns with missing values
[features for features in df.columns if df[features].isnull().sum()>0]

['Discharge date',
 'Outpatientreferralflag',
 'Serviceconnectedflag',
 'Agentorangeflag']

In [17]:
# Count the number of missing values in each column
df.isnull().sum()

Internalpatientid                                           0
Age at admission                                            0
Admission date                                              0
Discharge date                                            494
Admitting unit service                                      0
Discharging unit service                                    0
Admitting specialty                                         0
Discharging specialty                                       0
First listed discharge diagnosis icd10 subcategory          0
Second listed discharge diagnosis icd10 subcategory         0
Discharge disposition                                       0
Died during admission                                       0
Outpatientreferralflag                                  26443
Serviceconnectedflag                                   487689
Agentorangeflag                                        104512
State                                                       0
dtype: int64

- The dataset has missing values, particularly in the 'Outpatientreferralflag', 'Serviceconnectedflag', and 'Agentorangeflag' columns. Additionally, there are a few missing values in the 'Discharge date' column."

---

### **Checking Readmission Count**

In [18]:
df_readmission = pd.DataFrame(df['Internalpatientid'].value_counts()).reset_index()
df_readmission.columns = ['Internalpatientid', 'counts']  # Rename the columns

In [19]:
# Create a new column based on the condition
df_readmission['Readmission'] = df_readmission['counts'].apply(lambda x: 1 if x > 1 else 0)

In [20]:
df_readmission

       Internalpatientid  counts  Readmission
0                 102741     344            1
1                  82129     191            1
2                 134097     165            1
3                   2192     156            1
4                  94822     153            1
...                  ...     ...          ...
84531              22073       1            0
84532              33943       1            0
84533              33187       1            0
84534             165475       1            0
84535              61780       1            0

[84536 rows x 3 columns]

In [21]:
df_readmission.drop(['counts'], axis=1,inplace=True)

In [22]:
df_readmission

       Internalpatientid  Readmission
0                 102741            1
1                  82129            1
2                 134097            1
3                   2192            1
4                  94822            1
...                  ...          ...
84531              22073            0
84532              33943            0
84533              33187            0
84534             165475            0
84535              61780            0

[84536 rows x 2 columns]

### **Saving Readmission Target file**

In [25]:
import os
cwd = os.getcwd()
cwd

'/mnt/batch/tasks/shared/LS_root/mounts/clusters/team3-lavanya-gpu2/code/Users/2211574/Best_Files'

In [26]:
#df.to_csv('Path where you want to store the exported CSV file/File Name.csv')
df_readmission.to_csv('/mnt/batch/tasks/shared/LS_root/mounts/clusters/team3-lavanya-gpu2/code/Users/900379/Output_files_train/Potential_files_train/df_readmission_train.csv')

----------