# **Azure notebook Setup**

In [1]:
#A class attribute that provides access to the TabularDatasetFactory methods for creating new TabularDataset objects. 
#Usage: Dataset.Tabular.from_delimited_files().
from azureml.core import Workspace, Dataset

subscription_id = 'bcfe0c62-8ebe-4df0-a46d-1efcf8739a5b' #check the launch studio there will get this id
resource_group = 'VChamp-Team3' # resource group name
workspace_name = 'vchamp-team3' # worksapce name


# storage account : Algorithmia, Resource group: VChamp-Team3 and workspace: vchamp-team3.
#Constructor
workspace = Workspace(subscription_id, resource_group, workspace_name)

In [2]:
#['data_team3_synthetic_train']
datastore = workspace.datastores['data_team3_synthetic_quality_check']

In [3]:
#from_delimited_files (Create a TabularDataset to represent tabular data in delimited files (e.g. CSV and TSV).

dataset = Dataset.Tabular.from_delimited_files(path = [(datastore, 'procedures_qual.csv')])

# preview the first 3 rows of the dataset
# dataset.to_pandas_dataframe()

In [4]:
#Converting the dataset into data frame(default as dataset in Azure, thus we must convert the needed formate)
procedures_train_data = dataset.to_pandas_dataframe()

In [5]:
procedures_train_data

,Column1,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,500,100012,52.100619,2001-08-06 18:37:42,99243,OFFICE CONSULTATION FOR A NEW OR ESTABLISHED P...,Texas
1,501,100012,52.397433,2001-11-23 06:16:51,99282,EMERGENCY DEPARTMENT VISIT FOR THE EVALUATION ...,Texas
2,502,100012,52.594739,2002-02-03 09:02:55,99090,ANALYSIS OF CLINICAL DATA STORED IN COMPUTERS ...,New Mexico
3,503,100012,52.648080,2002-02-22 20:57:17,99412,PREVENTIVE MEDICINE COUNSELING AND/OR RISK FAC...,New Mexico
4,504,100012,52.822460,2002-04-27 14:37:10,99204,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,New Mexico
...,...,...,...,...,...,...,...
774430,130977808,99941,76.764043,2019-05-01 06:11:00,92012,OPHTHALMOLOGICAL SERVICES: MEDICAL EXAMINATION...,Maine
774431,130977953,99944,77.937531,2010-06-16 04:01:12,99070,"SUPPLIES AND MATERIALS (EXCEPT SPECTACLES), PR...",Massachusetts
774432,130977954,99944,77.937531,2010-06-16 04:01:12,99201,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Massachusetts
774433,130977955,99944,80.746340,2013-04-07 18:53:35,G0154,DIRECT SKILLED NURSING SERVICES OF A LICENSED ...,Massachusetts
774434,130977956,99944,82.385896,2014-11-28 01:04:55,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,Massachusetts

# Importing the necessary library

In [6]:
import numpy as np                # Multi-Dimensional array object
import pandas as pd               # Data Manipulation
import matplotlib.pyplot as plt   # Data Visualization
import seaborn as sns             # Data Visualization 

# Allows the use of display() for DataFrames
from IPython.display import display 

# Handle warning messages that may occur during code execution
import warnings
warnings.filterwarnings('ignore')

# To increase memory allocation
from notebook.services.config import ConfigManager
cm = ConfigManager().update('notebook', {'max_buffer_size': 7294967296})


# Set the maximum number of rows to be displayed to 1000
pd.set_option('display.max_rows', 1163)

# Elimination of the unnamed columns

In [7]:
# Remove unwanted columns 
procedures_train_data.drop('Column1',axis=1,inplace=True)

In [8]:
df_procedures = procedures_train_data

In [9]:
df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,100012,52.100619,2001-08-06 18:37:42,99243,OFFICE CONSULTATION FOR A NEW OR ESTABLISHED P...,Texas
1,100012,52.397433,2001-11-23 06:16:51,99282,EMERGENCY DEPARTMENT VISIT FOR THE EVALUATION ...,Texas
2,100012,52.594739,2002-02-03 09:02:55,99090,ANALYSIS OF CLINICAL DATA STORED IN COMPUTERS ...,New Mexico
3,100012,52.648080,2002-02-22 20:57:17,99412,PREVENTIVE MEDICINE COUNSELING AND/OR RISK FAC...,New Mexico
4,100012,52.822460,2002-04-27 14:37:10,99204,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,New Mexico
...,...,...,...,...,...,...
774430,99941,76.764043,2019-05-01 06:11:00,92012,OPHTHALMOLOGICAL SERVICES: MEDICAL EXAMINATION...,Maine
774431,99944,77.937531,2010-06-16 04:01:12,99070,"SUPPLIES AND MATERIALS (EXCEPT SPECTACLES), PR...",Massachusetts
774432,99944,77.937531,2010-06-16 04:01:12,99201,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Massachusetts
774433,99944,80.746340,2013-04-07 18:53:35,G0154,DIRECT SKILLED NURSING SERVICES OF A LICENSED ...,Massachusetts
774434,99944,82.385896,2014-11-28 01:04:55,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,Massachusetts

# sorting out patients id and age column

In [10]:
# Sort the dataset based on the patientsid and 'age' column in ascending order
df_procedures.sort_values(["Internalpatientid","Age at procedure"],inplace=True)

In [11]:
df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
546960,67,48.278793,2010-08-07 21:34:08,84295,"SODIUM; SERUM, PLASMA OR WHOLE BLOOD",California
546961,67,48.278793,2010-08-07 21:34:08,84153,PROSTATE SPECIFIC ANTIGEN (PSA); TOTAL,California
546962,67,48.278793,2010-08-07 21:34:08,83721,"LIPOPROTEIN, DIRECT MEASUREMENT; LDL CHOLESTEROL",California
546963,67,48.278793,2010-08-07 21:34:08,82565,CREATININE; BLOOD,California
546964,67,48.278793,2010-08-07 21:34:08,84520,UREA NITROGEN; QUANTITATIVE,California
...,...,...,...,...,...,...
300766,168899,96.385193,2019-03-18 18:54:32,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania
300687,168899,96.483452,2019-04-23 16:50:17,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,Pennsylvania
301371,168899,96.754000,2019-07-31 14:05:25,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania
300767,168899,96.873211,2019-09-13 03:48:33,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania
626966,168899,96.905469,2019-09-24 22:46:28,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania

# Checking the missing value

In [12]:
print("Training set missing values:\n", df_procedures.isna().sum())

Training set missing values:
 Internalpatientid             0
Age at procedure              0
Procedure date                0
Procedure code                0
Procedure code description    0
State                         0
dtype: int64

* * **The "Procedure code" column has 4 missing values.**

* **Note:Here potiential attributes is "Procedure code description" ahs no missing value**

# Taking digit in age coulmn

In [13]:
# Format 'Age at measurement' values in the format 00.0
df_procedures["Age at procedure"] = df_procedures["Age at procedure"].map("{:.2f}".format)

In [14]:
df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
546960,67,48.28,2010-08-07 21:34:08,84295,"SODIUM; SERUM, PLASMA OR WHOLE BLOOD",California
546961,67,48.28,2010-08-07 21:34:08,84153,PROSTATE SPECIFIC ANTIGEN (PSA); TOTAL,California
546962,67,48.28,2010-08-07 21:34:08,83721,"LIPOPROTEIN, DIRECT MEASUREMENT; LDL CHOLESTEROL",California
546963,67,48.28,2010-08-07 21:34:08,82565,CREATININE; BLOOD,California
546964,67,48.28,2010-08-07 21:34:08,84520,UREA NITROGEN; QUANTITATIVE,California
...,...,...,...,...,...,...
300766,168899,96.39,2019-03-18 18:54:32,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania
300687,168899,96.48,2019-04-23 16:50:17,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,Pennsylvania
301371,168899,96.75,2019-07-31 14:05:25,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania
300767,168899,96.87,2019-09-13 03:48:33,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania
626966,168899,96.91,2019-09-24 22:46:28,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania

In [15]:
# Convert 'Age at measurement' column from object to float
df_procedures ["Age at procedure"] = df_procedures ["Age at procedure"].astype(float)

In [16]:
df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
546960,67,48.28,2010-08-07 21:34:08,84295,"SODIUM; SERUM, PLASMA OR WHOLE BLOOD",California
546961,67,48.28,2010-08-07 21:34:08,84153,PROSTATE SPECIFIC ANTIGEN (PSA); TOTAL,California
546962,67,48.28,2010-08-07 21:34:08,83721,"LIPOPROTEIN, DIRECT MEASUREMENT; LDL CHOLESTEROL",California
546963,67,48.28,2010-08-07 21:34:08,82565,CREATININE; BLOOD,California
546964,67,48.28,2010-08-07 21:34:08,84520,UREA NITROGEN; QUANTITATIVE,California
...,...,...,...,...,...,...
300766,168899,96.39,2019-03-18 18:54:32,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania
300687,168899,96.48,2019-04-23 16:50:17,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,Pennsylvania
301371,168899,96.75,2019-07-31 14:05:25,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania
300767,168899,96.87,2019-09-13 03:48:33,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania
626966,168899,96.91,2019-09-24 22:46:28,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania

# Max age

In [17]:
# Find the maximum age for each internal patient id
max_ages = df_procedures.groupby('Internalpatientid')['Age at procedure'].max().reset_index()

# Merge with the original dataframe to get the rows with the highest age
df_procedures = pd.merge(df_procedures, max_ages, on =['Internalpatientid','Age at procedure'], how = 'inner')

df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,67,58.50,2020-10-29 08:48:01,82270,"BLOOD, OCCULT, BY PEROXIDASE ACTIVITY (EG, GUA...",California
1,200,87.80,2023-02-13 10:31:19,G0160,SERVICES PERFORMED BY A QUALIFIED OCCUPATIONAL...,Utah
2,291,83.17,2006-07-06 09:21:12,77408,"RADIATION TREATMENT DELIVERY, 2 SEPARATE TREAT...",Pennsylvania
3,291,83.17,2006-07-07 10:21:45,77413,"RADIATION TREATMENT DELIVERY, 3 OR MORE SEPARA...",Pennsylvania
4,330,74.66,2024-03-01 00:19:37,91305,91305,Oregon
...,...,...,...,...,...,...
3833,168496,98.97,2023-02-03 01:11:44,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,California
3834,168496,98.97,2023-02-03 01:11:44,98968,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California
3835,168496,98.97,2023-02-03 21:37:36,98968,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California
3836,168496,98.97,2023-02-03 21:37:36,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,California
3837,168899,96.91,2019-09-24 22:46:28,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania

# Rounding off the Age

In [18]:
df_procedures ['Age at procedure'] = df_procedures['Age at procedure'].apply(lambda x: round(x,))

In [19]:
df_procedures["Internalpatientid"].nunique()

1000

In [20]:
df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,67,58,2020-10-29 08:48:01,82270,"BLOOD, OCCULT, BY PEROXIDASE ACTIVITY (EG, GUA...",California
1,200,88,2023-02-13 10:31:19,G0160,SERVICES PERFORMED BY A QUALIFIED OCCUPATIONAL...,Utah
2,291,83,2006-07-06 09:21:12,77408,"RADIATION TREATMENT DELIVERY, 2 SEPARATE TREAT...",Pennsylvania
3,291,83,2006-07-07 10:21:45,77413,"RADIATION TREATMENT DELIVERY, 3 OR MORE SEPARA...",Pennsylvania
4,330,75,2024-03-01 00:19:37,91305,91305,Oregon
...,...,...,...,...,...,...
3833,168496,99,2023-02-03 01:11:44,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,California
3834,168496,99,2023-02-03 01:11:44,98968,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California
3835,168496,99,2023-02-03 21:37:36,98968,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California
3836,168496,99,2023-02-03 21:37:36,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,California
3837,168899,97,2019-09-24 22:46:28,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania

In [21]:
# value counts
df3 = df_procedures["Internalpatientid"].value_counts().loc[lambda x: x>30].to_frame()

In [22]:
df3 = df3.reset_index()

In [23]:
df3.columns = ["Internalpatientid","count_procedures"]

In [24]:
df3.drop(["count_procedures"],axis=1,inplace =True)

In [25]:
df3

    Internalpatientid
0               27031
1              122432
2              135390
3               72812
4               52681
5               10469
6               99143
7               34287
8              168008
9               20814
10             112212
11              61719
12             108502

In [26]:
# Merge the two dataframes based on 'Internalpatientid'
merged_df = df_procedures.merge(df3, on='Internalpatientid', how='left')

# Filter rows from DataFrame 1 that have matching values in DataFrame 2
filtered_df = merged_df[~merged_df['Internalpatientid'].isin(df3['Internalpatientid'])]

# Print only the columns of DataFrame 1
filtered_df

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,67,58,2020-10-29 08:48:01,82270,"BLOOD, OCCULT, BY PEROXIDASE ACTIVITY (EG, GUA...",California
1,200,88,2023-02-13 10:31:19,G0160,SERVICES PERFORMED BY A QUALIFIED OCCUPATIONAL...,Utah
2,291,83,2006-07-06 09:21:12,77408,"RADIATION TREATMENT DELIVERY, 2 SEPARATE TREAT...",Pennsylvania
3,291,83,2006-07-07 10:21:45,77413,"RADIATION TREATMENT DELIVERY, 3 OR MORE SEPARA...",Pennsylvania
4,330,75,2024-03-01 00:19:37,91305,91305,Oregon
...,...,...,...,...,...,...
3833,168496,99,2023-02-03 01:11:44,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,California
3834,168496,99,2023-02-03 01:11:44,98968,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California
3835,168496,99,2023-02-03 21:37:36,98968,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California
3836,168496,99,2023-02-03 21:37:36,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,California
3837,168899,97,2019-09-24 22:46:28,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania

In [27]:
filtered_df.Internalpatientid.nunique()

987

In [28]:
df_procedures = filtered_df

In [30]:
df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,67,58,2020-10-29 08:48:01,82270,"BLOOD, OCCULT, BY PEROXIDASE ACTIVITY (EG, GUA...",California
1,200,88,2023-02-13 10:31:19,G0160,SERVICES PERFORMED BY A QUALIFIED OCCUPATIONAL...,Utah
2,291,83,2006-07-06 09:21:12,77408,"RADIATION TREATMENT DELIVERY, 2 SEPARATE TREAT...",Pennsylvania
3,291,83,2006-07-07 10:21:45,77413,"RADIATION TREATMENT DELIVERY, 3 OR MORE SEPARA...",Pennsylvania
4,330,75,2024-03-01 00:19:37,91305,91305,Oregon
...,...,...,...,...,...,...
3833,168496,99,2023-02-03 01:11:44,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,California
3834,168496,99,2023-02-03 01:11:44,98968,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California
3835,168496,99,2023-02-03 21:37:36,98968,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California
3836,168496,99,2023-02-03 21:37:36,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,California
3837,168899,97,2019-09-24 22:46:28,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania

# Adding  'Age at procedure' & 'Procedure code description' columns with '_'

In [31]:
#In this code, we create a new column called 'Lab test description_Result numeric' by concatenating the values of the 'lab test description' column, underscore ('_'), and the 'lab test results' column
#converted to a string using the `astype(str)` function(because we cant't add differnt dtype)
df_procedures['procedures_code_description'] = df_procedures['Age at procedure'].astype(str) + '_' +  df_procedures['Procedure code description']

In [32]:
df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State,procedures_code_description
0,67,58,2020-10-29 08:48:01,82270,"BLOOD, OCCULT, BY PEROXIDASE ACTIVITY (EG, GUA...",California,"58_BLOOD, OCCULT, BY PEROXIDASE ACTIVITY (EG, ..."
1,200,88,2023-02-13 10:31:19,G0160,SERVICES PERFORMED BY A QUALIFIED OCCUPATIONAL...,Utah,88_SERVICES PERFORMED BY A QUALIFIED OCCUPATIO...
2,291,83,2006-07-06 09:21:12,77408,"RADIATION TREATMENT DELIVERY, 2 SEPARATE TREAT...",Pennsylvania,"83_RADIATION TREATMENT DELIVERY, 2 SEPARATE TR..."
3,291,83,2006-07-07 10:21:45,77413,"RADIATION TREATMENT DELIVERY, 3 OR MORE SEPARA...",Pennsylvania,"83_RADIATION TREATMENT DELIVERY, 3 OR MORE SEP..."
4,330,75,2024-03-01 00:19:37,91305,91305,Oregon,75_91305
...,...,...,...,...,...,...,...
3833,168496,99,2023-02-03 01:11:44,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,California,99_OFFICE OR OTHER OUTPATIENT VISIT FOR THE EV...
3834,168496,99,2023-02-03 01:11:44,98968,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California,99_TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE...
3835,168496,99,2023-02-03 21:37:36,98968,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California,99_TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE...
3836,168496,99,2023-02-03 21:37:36,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,California,99_OFFICE OR OTHER OUTPATIENT VISIT FOR THE EV...
3837,168899,97,2019-09-24 22:46:28,99606,MEDICATION THERAPY MANAGEMENT SERVICE(S) PROVI...,Pennsylvania,97_MEDICATION THERAPY MANAGEMENT SERVICE(S) PR...

# Dropping all unnecessary columns

In [33]:
# Remove columns 
df_procedures.drop(["Age at procedure","Procedure date","Procedure code",
                         "Procedure code description","State"], axis=1,inplace=True)

In [34]:
df_procedures = df_procedures

In [35]:
df_procedures

      Internalpatientid                        procedures_code_description
0                    67  58_BLOOD, OCCULT, BY PEROXIDASE ACTIVITY (EG, ...
1                   200  88_SERVICES PERFORMED BY A QUALIFIED OCCUPATIO...
2                   291  83_RADIATION TREATMENT DELIVERY, 2 SEPARATE TR...
3                   291  83_RADIATION TREATMENT DELIVERY, 3 OR MORE SEP...
4                   330                                           75_91305
...                 ...                                                ...
3833             168496  99_OFFICE OR OTHER OUTPATIENT VISIT FOR THE EV...
3834             168496  99_TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE...
3835             168496  99_TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE...
3836             168496  99_OFFICE OR OTHER OUTPATIENT VISIT FOR THE EV...
3837             168899  97_MEDICATION THERAPY MANAGEMENT SERVICE(S) PR...

[3370 rows x 2 columns]

In [37]:
# Group the DataFrame by 'Internalpatientid' and concatenate the icd10 values and
#The purpose of `x.dropna()` is to remove any missing values from the Series before applying a subsequent operation,
# such as concatenation using the `join` function. By dropping the missing values,
#we ensure that only non-null values are included in the resulting concatenated string.
df_grouped = df_procedures.groupby('Internalpatientid').agg(lambda x: ','.join(x.dropna()))
df_grouped 

# Reset the index of the grouped DataFrame
df_grouped_procedures = df_grouped.reset_index()
len(df_grouped_procedures)

987

# Saving the csv file

In [38]:
df_grouped_procedures.to_csv('/mnt/batch/tasks/shared/LS_root/mounts/clusters/team-3-susai-gpu2/code/Users/900379/Output_files_quality/df_procedures_quality.csv')

In [134]:
df_grouped_procedures['procedures_code_description'].values[0]

'80_PROTHROMBIN TIME;,80_ALPHA-FETOPROTEIN (AFP); SERUM,80_BLOOD COUNT; COMPLETE (CBC), AUTOMATED (HGB, HCT, RBC, WBC AND PLATELETCOUNT),80_COMPREHENSIVE METABOLIC PANELTHIS PANEL MUST INCLUDE THE FOLLOWING:ALBUMIN (82040)BILIRUBIN, TOTAL (82247)CALCIUM, TOTAL (82310)CARBON DIOXIDE (BICARBONATE) (82374)CHLORIDE (82435)CREATININE (82565)GLUCOSE (82947)PHOSPHATASE, ALKALINE (84075)POTASSIUM (84132)PROTEIN, TOTAL (84155)SODIUM (84295)TRANSFERASE, ALANINE AMINO (ALT) (SGPT) (84460)TRANSFERASE, ASPARTATE AMINO (AST) (SGOT) (84450)UREA NITROGEN (BUN) (84520),80_OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALUATION AND MANAGEMENT OF ANESTABLISHED PATIENT, WHICH REQUIRES A MEDICALLY APPROPRIATE HISTORY AND/OREXAMINATION AND MODERATE LEVEL OF MEDICAL DECISION MAKING. WHEN USING TIME FORCODE SELECTION, 30-39 MINUTES OF TOTAL TIME IS SPENT ON THE DATE OF THEENCOUNTER.,80_TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PROVIDED BY A QUALIFIEDNONPHYSICIAN HEALTH CARE PROFESSIONAL TO AN ESTABLISHED PATIENT,PARENT, OR GUARDIAN NOT ORIGINATING FROM A RELATED ASSESSMENT ANDMANAGEMENT SERVICE PROVIDED WITHIN THE PREVIOUS 7 DAYS NOR LEADING TOAN ASSESSMENT AND MANAGEMENT SERVICE OR PROCEDURE WITHIN THE NEXT 24HOURS OR SOONEST AVAILABLE APPOINTMENT; 11-20 MINUTES OF MEDICALDISCUSSION'